<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tup.mapper.JobEmailMapper" >
  <resultMap id="BaseResultMap" type="com.tup.model.JobEmail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="execDate" property="execdate" jdbcType="TIMESTAMP" />
    <result column="nextExecDate" property="nextexecdate" jdbcType="TIMESTAMP" />
    <result column="YearWeek" property="yearweek" jdbcType="VARCHAR" />
    <result column="OrganNo" property="organno" jdbcType="VARCHAR" />
    <result column="organName" property="organname" jdbcType="VARCHAR" />
    <result column="EmailTo" property="emailto" jdbcType="VARCHAR" />
    <result column="EmailCC" property="emailcc" jdbcType="VARCHAR" />
    <result column="EmailBC" property="emailbc" jdbcType="VARCHAR" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="attPath" property="attpath" jdbcType="VARCHAR" />
    <result column="isActive" property="isactive" jdbcType="INTEGER" />
    <result column="week" property="week" jdbcType="VARCHAR" />
    <result column="quarter" property="quarter" jdbcType="VARCHAR" />
    <result column="month" property="month" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="deleteFlag" property="deleteflag" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mail, execDate, nextExecDate, YearWeek, OrganNo, organName, EmailTo, EmailCC, 
    EmailBC, subject, content, attPath, isActive, week, quarter, month, year, createTime, 
    updateTime, deleteFlag, status, type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tup.model.JobEmailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from job_email
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if> 
    <if test="offset != null  and rows != null " >
    limit ${offset},${rows}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job_email
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job_email
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tup.model.JobEmailExample" >
    delete from job_email
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tup.model.JobEmail" >
    insert into job_email (id, mail, execDate, 
      nextExecDate, YearWeek, OrganNo, 
      organName, EmailTo, EmailCC, 
      EmailBC, subject, content, 
      attPath, isActive, week, 
      quarter, month, year, 
      createTime, updateTime, deleteFlag, 
      status, type)
    values (#{id,jdbcType=INTEGER}, #{mail,jdbcType=VARCHAR}, #{execdate,jdbcType=TIMESTAMP}, 
      #{nextexecdate,jdbcType=TIMESTAMP}, #{yearweek,jdbcType=VARCHAR}, #{organno,jdbcType=VARCHAR}, 
      #{organname,jdbcType=VARCHAR}, #{emailto,jdbcType=VARCHAR}, #{emailcc,jdbcType=VARCHAR}, 
      #{emailbc,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{attpath,jdbcType=VARCHAR}, #{isactive,jdbcType=INTEGER}, #{week,jdbcType=VARCHAR}, 
      #{quarter,jdbcType=VARCHAR}, #{month,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{deleteflag,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tup.model.JobEmail" >
    insert into job_email
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="execdate != null" >
        execDate,
      </if>
      <if test="nextexecdate != null" >
        nextExecDate,
      </if>
      <if test="yearweek != null" >
        YearWeek,
      </if>
      <if test="organno != null" >
        OrganNo,
      </if>
      <if test="organname != null" >
        organName,
      </if>
      <if test="emailto != null" >
        EmailTo,
      </if>
      <if test="emailcc != null" >
        EmailCC,
      </if>
      <if test="emailbc != null" >
        EmailBC,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="attpath != null" >
        attPath,
      </if>
      <if test="isactive != null" >
        isActive,
      </if>
      <if test="week != null" >
        week,
      </if>
      <if test="quarter != null" >
        quarter,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="deleteflag != null" >
        deleteFlag,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="execdate != null" >
        #{execdate,jdbcType=TIMESTAMP},
      </if>
      <if test="nextexecdate != null" >
        #{nextexecdate,jdbcType=TIMESTAMP},
      </if>
      <if test="yearweek != null" >
        #{yearweek,jdbcType=VARCHAR},
      </if>
      <if test="organno != null" >
        #{organno,jdbcType=VARCHAR},
      </if>
      <if test="organname != null" >
        #{organname,jdbcType=VARCHAR},
      </if>
      <if test="emailto != null" >
        #{emailto,jdbcType=VARCHAR},
      </if>
      <if test="emailcc != null" >
        #{emailcc,jdbcType=VARCHAR},
      </if>
      <if test="emailbc != null" >
        #{emailbc,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="attpath != null" >
        #{attpath,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null" >
        #{isactive,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="quarter != null" >
        #{quarter,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteflag != null" >
        #{deleteflag,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tup.model.JobEmailExample" resultType="java.lang.Integer" >
    select count(*) from job_email
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update job_email
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mail != null" >
        mail = #{record.mail,jdbcType=VARCHAR},
      </if>
      <if test="record.execdate != null" >
        execDate = #{record.execdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nextexecdate != null" >
        nextExecDate = #{record.nextexecdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yearweek != null" >
        YearWeek = #{record.yearweek,jdbcType=VARCHAR},
      </if>
      <if test="record.organno != null" >
        OrganNo = #{record.organno,jdbcType=VARCHAR},
      </if>
      <if test="record.organname != null" >
        organName = #{record.organname,jdbcType=VARCHAR},
      </if>
      <if test="record.emailto != null" >
        EmailTo = #{record.emailto,jdbcType=VARCHAR},
      </if>
      <if test="record.emailcc != null" >
        EmailCC = #{record.emailcc,jdbcType=VARCHAR},
      </if>
      <if test="record.emailbc != null" >
        EmailBC = #{record.emailbc,jdbcType=VARCHAR},
      </if>
      <if test="record.subject != null" >
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.attpath != null" >
        attPath = #{record.attpath,jdbcType=VARCHAR},
      </if>
      <if test="record.isactive != null" >
        isActive = #{record.isactive,jdbcType=INTEGER},
      </if>
      <if test="record.week != null" >
        week = #{record.week,jdbcType=VARCHAR},
      </if>
      <if test="record.quarter != null" >
        quarter = #{record.quarter,jdbcType=VARCHAR},
      </if>
      <if test="record.month != null" >
        month = #{record.month,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        year = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteflag != null" >
        deleteFlag = #{record.deleteflag,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update job_email
    set id = #{record.id,jdbcType=INTEGER},
      mail = #{record.mail,jdbcType=VARCHAR},
      execDate = #{record.execdate,jdbcType=TIMESTAMP},
      nextExecDate = #{record.nextexecdate,jdbcType=TIMESTAMP},
      YearWeek = #{record.yearweek,jdbcType=VARCHAR},
      OrganNo = #{record.organno,jdbcType=VARCHAR},
      organName = #{record.organname,jdbcType=VARCHAR},
      EmailTo = #{record.emailto,jdbcType=VARCHAR},
      EmailCC = #{record.emailcc,jdbcType=VARCHAR},
      EmailBC = #{record.emailbc,jdbcType=VARCHAR},
      subject = #{record.subject,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      attPath = #{record.attpath,jdbcType=VARCHAR},
      isActive = #{record.isactive,jdbcType=INTEGER},
      week = #{record.week,jdbcType=VARCHAR},
      quarter = #{record.quarter,jdbcType=VARCHAR},
      month = #{record.month,jdbcType=VARCHAR},
      year = #{record.year,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      deleteFlag = #{record.deleteflag,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      type = #{record.type,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tup.model.JobEmail" >
    update job_email
    <set >
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="execdate != null" >
        execDate = #{execdate,jdbcType=TIMESTAMP},
      </if>
      <if test="nextexecdate != null" >
        nextExecDate = #{nextexecdate,jdbcType=TIMESTAMP},
      </if>
      <if test="yearweek != null" >
        YearWeek = #{yearweek,jdbcType=VARCHAR},
      </if>
      <if test="organno != null" >
        OrganNo = #{organno,jdbcType=VARCHAR},
      </if>
      <if test="organname != null" >
        organName = #{organname,jdbcType=VARCHAR},
      </if>
      <if test="emailto != null" >
        EmailTo = #{emailto,jdbcType=VARCHAR},
      </if>
      <if test="emailcc != null" >
        EmailCC = #{emailcc,jdbcType=VARCHAR},
      </if>
      <if test="emailbc != null" >
        EmailBC = #{emailbc,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="attpath != null" >
        attPath = #{attpath,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null" >
        isActive = #{isactive,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        week = #{week,jdbcType=VARCHAR},
      </if>
      <if test="quarter != null" >
        quarter = #{quarter,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteflag != null" >
        deleteFlag = #{deleteflag,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tup.model.JobEmail" >
    update job_email
    set mail = #{mail,jdbcType=VARCHAR},
      execDate = #{execdate,jdbcType=TIMESTAMP},
      nextExecDate = #{nextexecdate,jdbcType=TIMESTAMP},
      YearWeek = #{yearweek,jdbcType=VARCHAR},
      OrganNo = #{organno,jdbcType=VARCHAR},
      organName = #{organname,jdbcType=VARCHAR},
      EmailTo = #{emailto,jdbcType=VARCHAR},
      EmailCC = #{emailcc,jdbcType=VARCHAR},
      EmailBC = #{emailbc,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      attPath = #{attpath,jdbcType=VARCHAR},
      isActive = #{isactive,jdbcType=INTEGER},
      week = #{week,jdbcType=VARCHAR},
      quarter = #{quarter,jdbcType=VARCHAR},
      month = #{month,jdbcType=VARCHAR},
      year = #{year,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      deleteFlag = #{deleteflag,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>