<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tup.mssql.mapper.InventoryMapper" >
  <resultMap id="BaseResultMap" type="com.tup.mssql.model.Inventory" >
    <id column="LIITM" property="liitm" jdbcType="VARCHAR" />
    <id column="LIMCU" property="limcu" jdbcType="VARCHAR" />
    <id column="LILOCN" property="lilocn" jdbcType="VARCHAR" />
    <id column="LILOTN" property="lilotn" jdbcType="VARCHAR" />
    <result column="LIPBIN" property="lipbin" jdbcType="VARCHAR" />
    <result column="LIGLPT" property="liglpt" jdbcType="VARCHAR" />
    <result column="LIPQOH" property="lipqoh" jdbcType="NUMERIC" />
    <result column="LIPBCK" property="lipbck" jdbcType="NUMERIC" />
    <result column="LIPREQ" property="lipreq" jdbcType="NUMERIC" />
    <result column="LIQWBO" property="liqwbo" jdbcType="NUMERIC" />
    <result column="LIHCOM" property="lihcom" jdbcType="NUMERIC" />
    <result column="LIPCOM" property="lipcom" jdbcType="NUMERIC" />
    <result column="LIFCOM" property="lifcom" jdbcType="NUMERIC" />
    <result column="LIFUN1" property="lifun1" jdbcType="NUMERIC" />
    <result column="LIQOWO" property="liqowo" jdbcType="NUMERIC" />
    <result column="LIQTTR" property="liqttr" jdbcType="NUMERIC" />
    <result column="LILOTS" property="lilots" jdbcType="VARCHAR" />
    <result column="LILRCJ" property="lilrcj" jdbcType="DATE" />
    <result column="LIOT1P" property="liot1p" jdbcType="NUMERIC" />
    <result column="LIOT2P" property="liot2p" jdbcType="NUMERIC" />
    <result column="LIOT1A" property="liot1a" jdbcType="NUMERIC" />
    <result column="LIQTIN" property="liqtin" jdbcType="NUMERIC" />
    <result column="LIQTO1" property="liqto1" jdbcType="NUMERIC" />
    <result column="LIQTO2" property="liqto2" jdbcType="NUMERIC" />
    <result column="LIQONL" property="liqonl" jdbcType="NUMERIC" />
    <result column="LIQTRI" property="liqtri" jdbcType="NUMERIC" />
    <result column="LIQTRO" property="liqtro" jdbcType="NUMERIC" />
    <result column="LINCDJ" property="lincdj" jdbcType="TIMESTAMP" />
    <result column="LIQTY1" property="liqty1" jdbcType="NUMERIC" />
    <result column="LIQTY2" property="liqty2" jdbcType="NUMERIC" />
    <result column="LICSID" property="licsid" jdbcType="NUMERIC" />
    <result column="LIURCD" property="liurcd" jdbcType="VARCHAR" />
    <result column="LIURDT" property="liurdt" jdbcType="DATE" />
    <result column="LIURAT" property="liurat" jdbcType="NUMERIC" />
    <result column="LIURAB" property="liurab" jdbcType="NUMERIC" />
    <result column="LIURRF" property="liurrf" jdbcType="VARCHAR" />
    <result column="LIUSER" property="liuser" jdbcType="VARCHAR" />
    <result column="LIUPMJ" property="liupmj" jdbcType="TIMESTAMP" />
    <result column="JDE_UpdateDate" property="jdeUpdatedate" jdbcType="TIMESTAMP" />
    <result column="KT_ProcessDate" property="ktProcessdate" jdbcType="TIMESTAMP" />
    <result column="KT_FailDate" property="ktFaildate" jdbcType="TIMESTAMP" />
    <result column="KT_RetryTimes" property="ktRetrytimes" jdbcType="INTEGER" />
    <result column="KT_ErrorLog" property="ktErrorlog" jdbcType="VARCHAR" />
    <result column="fms_process_date" property="fmsProcessDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LIITM, LIMCU, LILOCN, LILOTN, LIPBIN, LIGLPT, LIPQOH, LIPBCK, LIPREQ, LIQWBO, LIHCOM, 
    LIPCOM, LIFCOM, LIFUN1, LIQOWO, LIQTTR, LILOTS, LILRCJ, LIOT1P, LIOT2P, LIOT1A, LIQTIN, 
    LIQTO1, LIQTO2, LIQONL, LIQTRI, LIQTRO, LINCDJ, LIQTY1, LIQTY2, LICSID, LIURCD, LIURDT, 
    LIURAT, LIURAB, LIURRF, LIUSER, LIUPMJ, JDE_UpdateDate, KT_ProcessDate, KT_FailDate, 
    KT_RetryTimes, KT_ErrorLog, fms_process_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tup.mssql.model.InventoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from Inventory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
   <select id="selectByMapParam" resultMap="BaseResultMap" parameterType="Map" >
    select  
    <include refid="Base_Column_List" />
    from Inventory WHERE 1=1
     <if test="lipbin != null" >
         and  LIPBIN = #{lipbin,jdbcType=VARCHAR}
      </if>
      <if test="liglpt != null" >
         and  LIGLPT = #{liglpt,jdbcType=VARCHAR}
      </if>
      <if test="lipqoh != null" >
         and  LIPQOH = #{lipqoh,jdbcType=NUMERIC}
      </if>
      <if test="lipbck != null" >
         and  LIPBCK = #{lipbck,jdbcType=NUMERIC}
      </if>
      <if test="lipreq != null" >
         and  LIPREQ = #{lipreq,jdbcType=NUMERIC}
      </if>
      <if test="liqwbo != null" >
         and  LIQWBO = #{liqwbo,jdbcType=NUMERIC}
      </if>
      <if test="lihcom != null" >
         and  LIHCOM = #{lihcom,jdbcType=NUMERIC}
      </if>
      <if test="lipcom != null" >
         and  LIPCOM = #{lipcom,jdbcType=NUMERIC}
      </if>
      <if test="lifcom != null" >
         and  LIFCOM = #{lifcom,jdbcType=NUMERIC}
      </if>
      <if test="lifun1 != null" >
         and  LIFUN1 = #{lifun1,jdbcType=NUMERIC}
      </if>
      <if test="liqowo != null" >
         and  LIQOWO = #{liqowo,jdbcType=NUMERIC}
      </if>
      <if test="liqttr != null" >
         and  LIQTTR = #{liqttr,jdbcType=NUMERIC}
      </if>
      <if test="lilots != null" >
         and  LILOTS = #{lilots,jdbcType=VARCHAR}
      </if>
      <if test="lilrcj != null" >
         and  LILRCJ = #{lilrcj,jdbcType=DATE}
      </if>
      <if test="liot1p != null" >
         and  LIOT1P = #{liot1p,jdbcType=NUMERIC}
      </if>
      <if test="liot2p != null" >
         and  LIOT2P = #{liot2p,jdbcType=NUMERIC}
      </if>
      <if test="liot1a != null" >
         and  LIOT1A = #{liot1a,jdbcType=NUMERIC}
      </if>
      <if test="liqtin != null" >
         and  LIQTIN = #{liqtin,jdbcType=NUMERIC}
      </if>
      <if test="liqto1 != null" >
         and  LIQTO1 = #{liqto1,jdbcType=NUMERIC}
      </if>
      <if test="liqto2 != null" >
         and  LIQTO2 = #{liqto2,jdbcType=NUMERIC}
      </if>
      <if test="liqonl != null" >
         and  LIQONL = #{liqonl,jdbcType=NUMERIC}
      </if>
      <if test="liqtri != null" >
         and  LIQTRI = #{liqtri,jdbcType=NUMERIC}
      </if>
      <if test="liqtro != null" >
         and  LIQTRO = #{liqtro,jdbcType=NUMERIC}
      </if>
      <if test="lincdj != null" >
         and  LINCDJ = #{lincdj,jdbcType=TIMESTAMP}
      </if>
      <if test="liqty1 != null" >
         and  LIQTY1 = #{liqty1,jdbcType=NUMERIC}
      </if>
      <if test="liqty2 != null" >
         and  LIQTY2 = #{liqty2,jdbcType=NUMERIC}
      </if>
      <if test="licsid != null" >
         and  LICSID = #{licsid,jdbcType=NUMERIC}
      </if>
      <if test="liurcd != null" >
         and  LIURCD = #{liurcd,jdbcType=VARCHAR}
      </if>
      <if test="liurdt != null" >
         and  LIURDT = #{liurdt,jdbcType=DATE}
      </if>
      <if test="liurat != null" >
         and  LIURAT = #{liurat,jdbcType=NUMERIC}
      </if>
      <if test="liurab != null" >
         and  LIURAB = #{liurab,jdbcType=NUMERIC}
      </if>
      <if test="liurrf != null" >
         and  LIURRF = #{liurrf,jdbcType=VARCHAR}
      </if>
      <if test="liuser != null" >
         and  LIUSER = #{liuser,jdbcType=VARCHAR}
      </if>
      <if test="liupmj != null" >
         and  LIUPMJ = #{liupmj,jdbcType=TIMESTAMP}
      </if>
      <if test="jdeUpdatedate != null" >
         and  JDE_UpdateDate = #{jdeUpdatedate,jdbcType=TIMESTAMP}
      </if>
      <if test="ktProcessdate != null" >
         and  KT_ProcessDate = #{ktProcessdate,jdbcType=TIMESTAMP}
      </if>
      <if test="ktFaildate != null" >
         and  KT_FailDate = #{ktFaildate,jdbcType=TIMESTAMP}
      </if>
      <if test="ktRetrytimes != null" >
         and  KT_RetryTimes = #{ktRetrytimes,jdbcType=INTEGER}
      </if>
      <if test="ktErrorlog != null" >
         and  KT_ErrorLog = #{ktErrorlog,jdbcType=VARCHAR}
      </if>
      <if test="fmsProcessDate != null" >
         and  fms_process_date = #{fmsProcessDate,jdbcType=TIMESTAMP}
      </if>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tup.mssql.model.InventoryKey" >
    select 
    <include refid="Base_Column_List" />
    from Inventory
    where LIITM = #{liitm,jdbcType=VARCHAR}
      and LIMCU = #{limcu,jdbcType=VARCHAR}
      and LILOCN = #{lilocn,jdbcType=VARCHAR}
      and LILOTN = #{lilotn,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tup.mssql.model.InventoryKey" >
    delete from Inventory
    where LIITM = #{liitm,jdbcType=VARCHAR}
      and LIMCU = #{limcu,jdbcType=VARCHAR}
      and LILOCN = #{lilocn,jdbcType=VARCHAR}
      and LILOTN = #{lilotn,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tup.mssql.model.InventoryExample" >
    delete from Inventory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tup.mssql.model.Inventory" >
    insert into Inventory (LIITM, LIMCU, LILOCN, 
      LILOTN, LIPBIN, LIGLPT, 
      LIPQOH, LIPBCK, LIPREQ, 
      LIQWBO, LIHCOM, LIPCOM, 
      LIFCOM, LIFUN1, LIQOWO, 
      LIQTTR, LILOTS, LILRCJ, 
      LIOT1P, LIOT2P, LIOT1A, 
      LIQTIN, LIQTO1, LIQTO2, 
      LIQONL, LIQTRI, LIQTRO, 
      LINCDJ, LIQTY1, LIQTY2, 
      LICSID, LIURCD, LIURDT, 
      LIURAT, LIURAB, LIURRF, 
      LIUSER, LIUPMJ, JDE_UpdateDate, 
      KT_ProcessDate, KT_FailDate, KT_RetryTimes, 
      KT_ErrorLog, fms_process_date)
    values (#{liitm,jdbcType=VARCHAR}, #{limcu,jdbcType=VARCHAR}, #{lilocn,jdbcType=VARCHAR}, 
      #{lilotn,jdbcType=VARCHAR}, #{lipbin,jdbcType=VARCHAR}, #{liglpt,jdbcType=VARCHAR}, 
      #{lipqoh,jdbcType=NUMERIC}, #{lipbck,jdbcType=NUMERIC}, #{lipreq,jdbcType=NUMERIC}, 
      #{liqwbo,jdbcType=NUMERIC}, #{lihcom,jdbcType=NUMERIC}, #{lipcom,jdbcType=NUMERIC}, 
      #{lifcom,jdbcType=NUMERIC}, #{lifun1,jdbcType=NUMERIC}, #{liqowo,jdbcType=NUMERIC}, 
      #{liqttr,jdbcType=NUMERIC}, #{lilots,jdbcType=VARCHAR}, #{lilrcj,jdbcType=DATE}, 
      #{liot1p,jdbcType=NUMERIC}, #{liot2p,jdbcType=NUMERIC}, #{liot1a,jdbcType=NUMERIC}, 
      #{liqtin,jdbcType=NUMERIC}, #{liqto1,jdbcType=NUMERIC}, #{liqto2,jdbcType=NUMERIC}, 
      #{liqonl,jdbcType=NUMERIC}, #{liqtri,jdbcType=NUMERIC}, #{liqtro,jdbcType=NUMERIC}, 
      #{lincdj,jdbcType=TIMESTAMP}, #{liqty1,jdbcType=NUMERIC}, #{liqty2,jdbcType=NUMERIC}, 
      #{licsid,jdbcType=NUMERIC}, #{liurcd,jdbcType=VARCHAR}, #{liurdt,jdbcType=DATE}, 
      #{liurat,jdbcType=NUMERIC}, #{liurab,jdbcType=NUMERIC}, #{liurrf,jdbcType=VARCHAR}, 
      #{liuser,jdbcType=VARCHAR}, #{liupmj,jdbcType=TIMESTAMP}, #{jdeUpdatedate,jdbcType=TIMESTAMP}, 
      #{ktProcessdate,jdbcType=TIMESTAMP}, #{ktFaildate,jdbcType=TIMESTAMP}, #{ktRetrytimes,jdbcType=INTEGER}, 
      #{ktErrorlog,jdbcType=VARCHAR}, #{fmsProcessDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tup.mssql.model.Inventory" >
    insert into Inventory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="liitm != null" >
        LIITM,
      </if>
      <if test="limcu != null" >
        LIMCU,
      </if>
      <if test="lilocn != null" >
        LILOCN,
      </if>
      <if test="lilotn != null" >
        LILOTN,
      </if>
      <if test="lipbin != null" >
        LIPBIN,
      </if>
      <if test="liglpt != null" >
        LIGLPT,
      </if>
      <if test="lipqoh != null" >
        LIPQOH,
      </if>
      <if test="lipbck != null" >
        LIPBCK,
      </if>
      <if test="lipreq != null" >
        LIPREQ,
      </if>
      <if test="liqwbo != null" >
        LIQWBO,
      </if>
      <if test="lihcom != null" >
        LIHCOM,
      </if>
      <if test="lipcom != null" >
        LIPCOM,
      </if>
      <if test="lifcom != null" >
        LIFCOM,
      </if>
      <if test="lifun1 != null" >
        LIFUN1,
      </if>
      <if test="liqowo != null" >
        LIQOWO,
      </if>
      <if test="liqttr != null" >
        LIQTTR,
      </if>
      <if test="lilots != null" >
        LILOTS,
      </if>
      <if test="lilrcj != null" >
        LILRCJ,
      </if>
      <if test="liot1p != null" >
        LIOT1P,
      </if>
      <if test="liot2p != null" >
        LIOT2P,
      </if>
      <if test="liot1a != null" >
        LIOT1A,
      </if>
      <if test="liqtin != null" >
        LIQTIN,
      </if>
      <if test="liqto1 != null" >
        LIQTO1,
      </if>
      <if test="liqto2 != null" >
        LIQTO2,
      </if>
      <if test="liqonl != null" >
        LIQONL,
      </if>
      <if test="liqtri != null" >
        LIQTRI,
      </if>
      <if test="liqtro != null" >
        LIQTRO,
      </if>
      <if test="lincdj != null" >
        LINCDJ,
      </if>
      <if test="liqty1 != null" >
        LIQTY1,
      </if>
      <if test="liqty2 != null" >
        LIQTY2,
      </if>
      <if test="licsid != null" >
        LICSID,
      </if>
      <if test="liurcd != null" >
        LIURCD,
      </if>
      <if test="liurdt != null" >
        LIURDT,
      </if>
      <if test="liurat != null" >
        LIURAT,
      </if>
      <if test="liurab != null" >
        LIURAB,
      </if>
      <if test="liurrf != null" >
        LIURRF,
      </if>
      <if test="liuser != null" >
        LIUSER,
      </if>
      <if test="liupmj != null" >
        LIUPMJ,
      </if>
      <if test="jdeUpdatedate != null" >
        JDE_UpdateDate,
      </if>
      <if test="ktProcessdate != null" >
        KT_ProcessDate,
      </if>
      <if test="ktFaildate != null" >
        KT_FailDate,
      </if>
      <if test="ktRetrytimes != null" >
        KT_RetryTimes,
      </if>
      <if test="ktErrorlog != null" >
        KT_ErrorLog,
      </if>
      <if test="fmsProcessDate != null" >
        fms_process_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="liitm != null" >
        #{liitm,jdbcType=VARCHAR},
      </if>
      <if test="limcu != null" >
        #{limcu,jdbcType=VARCHAR},
      </if>
      <if test="lilocn != null" >
        #{lilocn,jdbcType=VARCHAR},
      </if>
      <if test="lilotn != null" >
        #{lilotn,jdbcType=VARCHAR},
      </if>
      <if test="lipbin != null" >
        #{lipbin,jdbcType=VARCHAR},
      </if>
      <if test="liglpt != null" >
        #{liglpt,jdbcType=VARCHAR},
      </if>
      <if test="lipqoh != null" >
        #{lipqoh,jdbcType=NUMERIC},
      </if>
      <if test="lipbck != null" >
        #{lipbck,jdbcType=NUMERIC},
      </if>
      <if test="lipreq != null" >
        #{lipreq,jdbcType=NUMERIC},
      </if>
      <if test="liqwbo != null" >
        #{liqwbo,jdbcType=NUMERIC},
      </if>
      <if test="lihcom != null" >
        #{lihcom,jdbcType=NUMERIC},
      </if>
      <if test="lipcom != null" >
        #{lipcom,jdbcType=NUMERIC},
      </if>
      <if test="lifcom != null" >
        #{lifcom,jdbcType=NUMERIC},
      </if>
      <if test="lifun1 != null" >
        #{lifun1,jdbcType=NUMERIC},
      </if>
      <if test="liqowo != null" >
        #{liqowo,jdbcType=NUMERIC},
      </if>
      <if test="liqttr != null" >
        #{liqttr,jdbcType=NUMERIC},
      </if>
      <if test="lilots != null" >
        #{lilots,jdbcType=VARCHAR},
      </if>
      <if test="lilrcj != null" >
        #{lilrcj,jdbcType=DATE},
      </if>
      <if test="liot1p != null" >
        #{liot1p,jdbcType=NUMERIC},
      </if>
      <if test="liot2p != null" >
        #{liot2p,jdbcType=NUMERIC},
      </if>
      <if test="liot1a != null" >
        #{liot1a,jdbcType=NUMERIC},
      </if>
      <if test="liqtin != null" >
        #{liqtin,jdbcType=NUMERIC},
      </if>
      <if test="liqto1 != null" >
        #{liqto1,jdbcType=NUMERIC},
      </if>
      <if test="liqto2 != null" >
        #{liqto2,jdbcType=NUMERIC},
      </if>
      <if test="liqonl != null" >
        #{liqonl,jdbcType=NUMERIC},
      </if>
      <if test="liqtri != null" >
        #{liqtri,jdbcType=NUMERIC},
      </if>
      <if test="liqtro != null" >
        #{liqtro,jdbcType=NUMERIC},
      </if>
      <if test="lincdj != null" >
        #{lincdj,jdbcType=TIMESTAMP},
      </if>
      <if test="liqty1 != null" >
        #{liqty1,jdbcType=NUMERIC},
      </if>
      <if test="liqty2 != null" >
        #{liqty2,jdbcType=NUMERIC},
      </if>
      <if test="licsid != null" >
        #{licsid,jdbcType=NUMERIC},
      </if>
      <if test="liurcd != null" >
        #{liurcd,jdbcType=VARCHAR},
      </if>
      <if test="liurdt != null" >
        #{liurdt,jdbcType=DATE},
      </if>
      <if test="liurat != null" >
        #{liurat,jdbcType=NUMERIC},
      </if>
      <if test="liurab != null" >
        #{liurab,jdbcType=NUMERIC},
      </if>
      <if test="liurrf != null" >
        #{liurrf,jdbcType=VARCHAR},
      </if>
      <if test="liuser != null" >
        #{liuser,jdbcType=VARCHAR},
      </if>
      <if test="liupmj != null" >
        #{liupmj,jdbcType=TIMESTAMP},
      </if>
      <if test="jdeUpdatedate != null" >
        #{jdeUpdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="ktProcessdate != null" >
        #{ktProcessdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ktFaildate != null" >
        #{ktFaildate,jdbcType=TIMESTAMP},
      </if>
      <if test="ktRetrytimes != null" >
        #{ktRetrytimes,jdbcType=INTEGER},
      </if>
      <if test="ktErrorlog != null" >
        #{ktErrorlog,jdbcType=VARCHAR},
      </if>
      <if test="fmsProcessDate != null" >
        #{fmsProcessDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tup.mssql.model.InventoryExample" resultType="java.lang.Integer" >
    select count(*) from Inventory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Inventory
    <set >
      <if test="record.liitm != null" >
        LIITM = #{record.liitm,jdbcType=VARCHAR},
      </if>
      <if test="record.limcu != null" >
        LIMCU = #{record.limcu,jdbcType=VARCHAR},
      </if>
      <if test="record.lilocn != null" >
        LILOCN = #{record.lilocn,jdbcType=VARCHAR},
      </if>
      <if test="record.lilotn != null" >
        LILOTN = #{record.lilotn,jdbcType=VARCHAR},
      </if>
      <if test="record.lipbin != null" >
        LIPBIN = #{record.lipbin,jdbcType=VARCHAR},
      </if>
      <if test="record.liglpt != null" >
        LIGLPT = #{record.liglpt,jdbcType=VARCHAR},
      </if>
      <if test="record.lipqoh != null" >
        LIPQOH = #{record.lipqoh,jdbcType=NUMERIC},
      </if>
      <if test="record.lipbck != null" >
        LIPBCK = #{record.lipbck,jdbcType=NUMERIC},
      </if>
      <if test="record.lipreq != null" >
        LIPREQ = #{record.lipreq,jdbcType=NUMERIC},
      </if>
      <if test="record.liqwbo != null" >
        LIQWBO = #{record.liqwbo,jdbcType=NUMERIC},
      </if>
      <if test="record.lihcom != null" >
        LIHCOM = #{record.lihcom,jdbcType=NUMERIC},
      </if>
      <if test="record.lipcom != null" >
        LIPCOM = #{record.lipcom,jdbcType=NUMERIC},
      </if>
      <if test="record.lifcom != null" >
        LIFCOM = #{record.lifcom,jdbcType=NUMERIC},
      </if>
      <if test="record.lifun1 != null" >
        LIFUN1 = #{record.lifun1,jdbcType=NUMERIC},
      </if>
      <if test="record.liqowo != null" >
        LIQOWO = #{record.liqowo,jdbcType=NUMERIC},
      </if>
      <if test="record.liqttr != null" >
        LIQTTR = #{record.liqttr,jdbcType=NUMERIC},
      </if>
      <if test="record.lilots != null" >
        LILOTS = #{record.lilots,jdbcType=VARCHAR},
      </if>
      <if test="record.lilrcj != null" >
        LILRCJ = #{record.lilrcj,jdbcType=DATE},
      </if>
      <if test="record.liot1p != null" >
        LIOT1P = #{record.liot1p,jdbcType=NUMERIC},
      </if>
      <if test="record.liot2p != null" >
        LIOT2P = #{record.liot2p,jdbcType=NUMERIC},
      </if>
      <if test="record.liot1a != null" >
        LIOT1A = #{record.liot1a,jdbcType=NUMERIC},
      </if>
      <if test="record.liqtin != null" >
        LIQTIN = #{record.liqtin,jdbcType=NUMERIC},
      </if>
      <if test="record.liqto1 != null" >
        LIQTO1 = #{record.liqto1,jdbcType=NUMERIC},
      </if>
      <if test="record.liqto2 != null" >
        LIQTO2 = #{record.liqto2,jdbcType=NUMERIC},
      </if>
      <if test="record.liqonl != null" >
        LIQONL = #{record.liqonl,jdbcType=NUMERIC},
      </if>
      <if test="record.liqtri != null" >
        LIQTRI = #{record.liqtri,jdbcType=NUMERIC},
      </if>
      <if test="record.liqtro != null" >
        LIQTRO = #{record.liqtro,jdbcType=NUMERIC},
      </if>
      <if test="record.lincdj != null" >
        LINCDJ = #{record.lincdj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.liqty1 != null" >
        LIQTY1 = #{record.liqty1,jdbcType=NUMERIC},
      </if>
      <if test="record.liqty2 != null" >
        LIQTY2 = #{record.liqty2,jdbcType=NUMERIC},
      </if>
      <if test="record.licsid != null" >
        LICSID = #{record.licsid,jdbcType=NUMERIC},
      </if>
      <if test="record.liurcd != null" >
        LIURCD = #{record.liurcd,jdbcType=VARCHAR},
      </if>
      <if test="record.liurdt != null" >
        LIURDT = #{record.liurdt,jdbcType=DATE},
      </if>
      <if test="record.liurat != null" >
        LIURAT = #{record.liurat,jdbcType=NUMERIC},
      </if>
      <if test="record.liurab != null" >
        LIURAB = #{record.liurab,jdbcType=NUMERIC},
      </if>
      <if test="record.liurrf != null" >
        LIURRF = #{record.liurrf,jdbcType=VARCHAR},
      </if>
      <if test="record.liuser != null" >
        LIUSER = #{record.liuser,jdbcType=VARCHAR},
      </if>
      <if test="record.liupmj != null" >
        LIUPMJ = #{record.liupmj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jdeUpdatedate != null" >
        JDE_UpdateDate = #{record.jdeUpdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ktProcessdate != null" >
        KT_ProcessDate = #{record.ktProcessdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ktFaildate != null" >
        KT_FailDate = #{record.ktFaildate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ktRetrytimes != null" >
        KT_RetryTimes = #{record.ktRetrytimes,jdbcType=INTEGER},
      </if>
      <if test="record.ktErrorlog != null" >
        KT_ErrorLog = #{record.ktErrorlog,jdbcType=VARCHAR},
      </if>
      <if test="record.fmsProcessDate != null" >
        fms_process_date = #{record.fmsProcessDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Inventory
    set LIITM = #{record.liitm,jdbcType=VARCHAR},
      LIMCU = #{record.limcu,jdbcType=VARCHAR},
      LILOCN = #{record.lilocn,jdbcType=VARCHAR},
      LILOTN = #{record.lilotn,jdbcType=VARCHAR},
      LIPBIN = #{record.lipbin,jdbcType=VARCHAR},
      LIGLPT = #{record.liglpt,jdbcType=VARCHAR},
      LIPQOH = #{record.lipqoh,jdbcType=NUMERIC},
      LIPBCK = #{record.lipbck,jdbcType=NUMERIC},
      LIPREQ = #{record.lipreq,jdbcType=NUMERIC},
      LIQWBO = #{record.liqwbo,jdbcType=NUMERIC},
      LIHCOM = #{record.lihcom,jdbcType=NUMERIC},
      LIPCOM = #{record.lipcom,jdbcType=NUMERIC},
      LIFCOM = #{record.lifcom,jdbcType=NUMERIC},
      LIFUN1 = #{record.lifun1,jdbcType=NUMERIC},
      LIQOWO = #{record.liqowo,jdbcType=NUMERIC},
      LIQTTR = #{record.liqttr,jdbcType=NUMERIC},
      LILOTS = #{record.lilots,jdbcType=VARCHAR},
      LILRCJ = #{record.lilrcj,jdbcType=DATE},
      LIOT1P = #{record.liot1p,jdbcType=NUMERIC},
      LIOT2P = #{record.liot2p,jdbcType=NUMERIC},
      LIOT1A = #{record.liot1a,jdbcType=NUMERIC},
      LIQTIN = #{record.liqtin,jdbcType=NUMERIC},
      LIQTO1 = #{record.liqto1,jdbcType=NUMERIC},
      LIQTO2 = #{record.liqto2,jdbcType=NUMERIC},
      LIQONL = #{record.liqonl,jdbcType=NUMERIC},
      LIQTRI = #{record.liqtri,jdbcType=NUMERIC},
      LIQTRO = #{record.liqtro,jdbcType=NUMERIC},
      LINCDJ = #{record.lincdj,jdbcType=TIMESTAMP},
      LIQTY1 = #{record.liqty1,jdbcType=NUMERIC},
      LIQTY2 = #{record.liqty2,jdbcType=NUMERIC},
      LICSID = #{record.licsid,jdbcType=NUMERIC},
      LIURCD = #{record.liurcd,jdbcType=VARCHAR},
      LIURDT = #{record.liurdt,jdbcType=DATE},
      LIURAT = #{record.liurat,jdbcType=NUMERIC},
      LIURAB = #{record.liurab,jdbcType=NUMERIC},
      LIURRF = #{record.liurrf,jdbcType=VARCHAR},
      LIUSER = #{record.liuser,jdbcType=VARCHAR},
      LIUPMJ = #{record.liupmj,jdbcType=TIMESTAMP},
      JDE_UpdateDate = #{record.jdeUpdatedate,jdbcType=TIMESTAMP},
      KT_ProcessDate = #{record.ktProcessdate,jdbcType=TIMESTAMP},
      KT_FailDate = #{record.ktFaildate,jdbcType=TIMESTAMP},
      KT_RetryTimes = #{record.ktRetrytimes,jdbcType=INTEGER},
      KT_ErrorLog = #{record.ktErrorlog,jdbcType=VARCHAR},
      fms_process_date = #{record.fmsProcessDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tup.mssql.model.Inventory" >
    update Inventory
    <set >
      <if test="lipbin != null" >
        LIPBIN = #{lipbin,jdbcType=VARCHAR},
      </if>
      <if test="liglpt != null" >
        LIGLPT = #{liglpt,jdbcType=VARCHAR},
      </if>
      <if test="lipqoh != null" >
        LIPQOH = #{lipqoh,jdbcType=NUMERIC},
      </if>
      <if test="lipbck != null" >
        LIPBCK = #{lipbck,jdbcType=NUMERIC},
      </if>
      <if test="lipreq != null" >
        LIPREQ = #{lipreq,jdbcType=NUMERIC},
      </if>
      <if test="liqwbo != null" >
        LIQWBO = #{liqwbo,jdbcType=NUMERIC},
      </if>
      <if test="lihcom != null" >
        LIHCOM = #{lihcom,jdbcType=NUMERIC},
      </if>
      <if test="lipcom != null" >
        LIPCOM = #{lipcom,jdbcType=NUMERIC},
      </if>
      <if test="lifcom != null" >
        LIFCOM = #{lifcom,jdbcType=NUMERIC},
      </if>
      <if test="lifun1 != null" >
        LIFUN1 = #{lifun1,jdbcType=NUMERIC},
      </if>
      <if test="liqowo != null" >
        LIQOWO = #{liqowo,jdbcType=NUMERIC},
      </if>
      <if test="liqttr != null" >
        LIQTTR = #{liqttr,jdbcType=NUMERIC},
      </if>
      <if test="lilots != null" >
        LILOTS = #{lilots,jdbcType=VARCHAR},
      </if>
      <if test="lilrcj != null" >
        LILRCJ = #{lilrcj,jdbcType=DATE},
      </if>
      <if test="liot1p != null" >
        LIOT1P = #{liot1p,jdbcType=NUMERIC},
      </if>
      <if test="liot2p != null" >
        LIOT2P = #{liot2p,jdbcType=NUMERIC},
      </if>
      <if test="liot1a != null" >
        LIOT1A = #{liot1a,jdbcType=NUMERIC},
      </if>
      <if test="liqtin != null" >
        LIQTIN = #{liqtin,jdbcType=NUMERIC},
      </if>
      <if test="liqto1 != null" >
        LIQTO1 = #{liqto1,jdbcType=NUMERIC},
      </if>
      <if test="liqto2 != null" >
        LIQTO2 = #{liqto2,jdbcType=NUMERIC},
      </if>
      <if test="liqonl != null" >
        LIQONL = #{liqonl,jdbcType=NUMERIC},
      </if>
      <if test="liqtri != null" >
        LIQTRI = #{liqtri,jdbcType=NUMERIC},
      </if>
      <if test="liqtro != null" >
        LIQTRO = #{liqtro,jdbcType=NUMERIC},
      </if>
      <if test="lincdj != null" >
        LINCDJ = #{lincdj,jdbcType=TIMESTAMP},
      </if>
      <if test="liqty1 != null" >
        LIQTY1 = #{liqty1,jdbcType=NUMERIC},
      </if>
      <if test="liqty2 != null" >
        LIQTY2 = #{liqty2,jdbcType=NUMERIC},
      </if>
      <if test="licsid != null" >
        LICSID = #{licsid,jdbcType=NUMERIC},
      </if>
      <if test="liurcd != null" >
        LIURCD = #{liurcd,jdbcType=VARCHAR},
      </if>
      <if test="liurdt != null" >
        LIURDT = #{liurdt,jdbcType=DATE},
      </if>
      <if test="liurat != null" >
        LIURAT = #{liurat,jdbcType=NUMERIC},
      </if>
      <if test="liurab != null" >
        LIURAB = #{liurab,jdbcType=NUMERIC},
      </if>
      <if test="liurrf != null" >
        LIURRF = #{liurrf,jdbcType=VARCHAR},
      </if>
      <if test="liuser != null" >
        LIUSER = #{liuser,jdbcType=VARCHAR},
      </if>
      <if test="liupmj != null" >
        LIUPMJ = #{liupmj,jdbcType=TIMESTAMP},
      </if>
      <if test="jdeUpdatedate != null" >
        JDE_UpdateDate = #{jdeUpdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="ktProcessdate != null" >
        KT_ProcessDate = #{ktProcessdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ktFaildate != null" >
        KT_FailDate = #{ktFaildate,jdbcType=TIMESTAMP},
      </if>
      <if test="ktRetrytimes != null" >
        KT_RetryTimes = #{ktRetrytimes,jdbcType=INTEGER},
      </if>
      <if test="ktErrorlog != null" >
        KT_ErrorLog = #{ktErrorlog,jdbcType=VARCHAR},
      </if>
      <if test="fmsProcessDate != null" >
        fms_process_date = #{fmsProcessDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where LIITM = #{liitm,jdbcType=VARCHAR}
      and LIMCU = #{limcu,jdbcType=VARCHAR}
      and LILOCN = #{lilocn,jdbcType=VARCHAR}
      and LILOTN = #{lilotn,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tup.mssql.model.Inventory" >
    update Inventory
    set LIPBIN = #{lipbin,jdbcType=VARCHAR},
      LIGLPT = #{liglpt,jdbcType=VARCHAR},
      LIPQOH = #{lipqoh,jdbcType=NUMERIC},
      LIPBCK = #{lipbck,jdbcType=NUMERIC},
      LIPREQ = #{lipreq,jdbcType=NUMERIC},
      LIQWBO = #{liqwbo,jdbcType=NUMERIC},
      LIHCOM = #{lihcom,jdbcType=NUMERIC},
      LIPCOM = #{lipcom,jdbcType=NUMERIC},
      LIFCOM = #{lifcom,jdbcType=NUMERIC},
      LIFUN1 = #{lifun1,jdbcType=NUMERIC},
      LIQOWO = #{liqowo,jdbcType=NUMERIC},
      LIQTTR = #{liqttr,jdbcType=NUMERIC},
      LILOTS = #{lilots,jdbcType=VARCHAR},
      LILRCJ = #{lilrcj,jdbcType=DATE},
      LIOT1P = #{liot1p,jdbcType=NUMERIC},
      LIOT2P = #{liot2p,jdbcType=NUMERIC},
      LIOT1A = #{liot1a,jdbcType=NUMERIC},
      LIQTIN = #{liqtin,jdbcType=NUMERIC},
      LIQTO1 = #{liqto1,jdbcType=NUMERIC},
      LIQTO2 = #{liqto2,jdbcType=NUMERIC},
      LIQONL = #{liqonl,jdbcType=NUMERIC},
      LIQTRI = #{liqtri,jdbcType=NUMERIC},
      LIQTRO = #{liqtro,jdbcType=NUMERIC},
      LINCDJ = #{lincdj,jdbcType=TIMESTAMP},
      LIQTY1 = #{liqty1,jdbcType=NUMERIC},
      LIQTY2 = #{liqty2,jdbcType=NUMERIC},
      LICSID = #{licsid,jdbcType=NUMERIC},
      LIURCD = #{liurcd,jdbcType=VARCHAR},
      LIURDT = #{liurdt,jdbcType=DATE},
      LIURAT = #{liurat,jdbcType=NUMERIC},
      LIURAB = #{liurab,jdbcType=NUMERIC},
      LIURRF = #{liurrf,jdbcType=VARCHAR},
      LIUSER = #{liuser,jdbcType=VARCHAR},
      LIUPMJ = #{liupmj,jdbcType=TIMESTAMP},
      JDE_UpdateDate = #{jdeUpdatedate,jdbcType=TIMESTAMP},
      KT_ProcessDate = #{ktProcessdate,jdbcType=TIMESTAMP},
      KT_FailDate = #{ktFaildate,jdbcType=TIMESTAMP},
      KT_RetryTimes = #{ktRetrytimes,jdbcType=INTEGER},
      KT_ErrorLog = #{ktErrorlog,jdbcType=VARCHAR},
      fms_process_date = #{fmsProcessDate,jdbcType=TIMESTAMP}
    where LIITM = #{liitm,jdbcType=VARCHAR}
      and LIMCU = #{limcu,jdbcType=VARCHAR}
      and LILOCN = #{lilocn,jdbcType=VARCHAR}
      and LILOTN = #{lilotn,jdbcType=VARCHAR}
  </update>
</mapper>