<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tup.mssql.mapper.OrderHeaderInEDIMapper" >
  <resultMap id="BaseResultMap" type="com.tup.mssql.model.OrderHeaderInEDI" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="SYKCOO" property="sykcoo" jdbcType="VARCHAR" />
    <result column="SYDCTO" property="sydcto" jdbcType="VARCHAR" />
    <result column="SYMCU" property="symcu" jdbcType="CHAR" />
    <result column="SYCO" property="syco" jdbcType="VARCHAR" />
    <result column="SYAN8" property="syan8" jdbcType="INTEGER" />
    <result column="SYSHAN" property="syshan" jdbcType="INTEGER" />
    <result column="SYTRDJ" property="sytrdj" jdbcType="INTEGER" />
    <result column="SYDRQJ" property="sydrqj" jdbcType="INTEGER" />
    <result column="SYPDDJ" property="sypddj" jdbcType="INTEGER" />
    <result column="SYDRQT" property="sydrqt" jdbcType="INTEGER" />
    <result column="SYVR01" property="syvr01" jdbcType="VARCHAR" />
    <result column="SYDEL1" property="sydel1" jdbcType="VARCHAR" />
    <result column="SYDEL2" property="sydel2" jdbcType="VARCHAR" />
    <result column="SYURCD" property="syurcd" jdbcType="VARCHAR" />
    <result column="SYURDT" property="syurdt" jdbcType="INTEGER" />
    <result column="SYURAT" property="syurat" jdbcType="NUMERIC" />
    <result column="SYURAB" property="syurab" jdbcType="INTEGER" />
    <result column="SYURRF" property="syurrf" jdbcType="VARCHAR" />
    <result column="SAMLNM" property="samlnm" jdbcType="NVARCHAR" />
    <result column="SAADD1" property="saadd1" jdbcType="NVARCHAR" />
    <result column="SAADD2" property="saadd2" jdbcType="NVARCHAR" />
    <result column="SAADD3" property="saadd3" jdbcType="NVARCHAR" />
    <result column="SAADD4" property="saadd4" jdbcType="NVARCHAR" />
    <result column="SHMLNM" property="shmlnm" jdbcType="NVARCHAR" />
    <result column="SHADD1" property="shadd1" jdbcType="NVARCHAR" />
    <result column="SHADD2" property="shadd2" jdbcType="NVARCHAR" />
    <result column="SHADD3" property="shadd3" jdbcType="NVARCHAR" />
    <result column="SHADD4" property="shadd4" jdbcType="NVARCHAR" />
    <result column="JDE_Status" property="jdeStatus" jdbcType="VARCHAR" />
    <result column="JDE_InsertDate" property="jdeInsertdate" jdbcType="TIMESTAMP" />
    <result column="JDE_UpdateDate" property="jdeUpdatedate" jdbcType="TIMESTAMP" />
    <result column="JDE_OrderNumber" property="jdeOrdernumber" jdbcType="BIGINT" />
    <result column="JDE_ProccessLog" property="jdeProccesslog" jdbcType="VARCHAR" />
    <result column="KT_ProcessDate" property="ktProcessdate" jdbcType="TIMESTAMP" />
    <result column="SYDOCO" property="sydoco" jdbcType="BIGINT" />
    <result column="SYEDLN" property="syedln" jdbcType="NUMERIC" />
    <result column="SYEDST" property="syedst" jdbcType="VARCHAR" />
    <result column="SYEDER" property="syeder" jdbcType="VARCHAR" />
    <result column="SYEDDL" property="syeddl" jdbcType="NUMERIC" />
    <result column="SYTPUR" property="sytpur" jdbcType="VARCHAR" />
    <result column="SYEDCT" property="syedct" jdbcType="VARCHAR" />
    <result column="SYEDTY" property="syedty" jdbcType="VARCHAR" />
    <result column="SYEDSP" property="syedsp" jdbcType="VARCHAR" />
    <result column="SYEDOC" property="syedoc" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SYKCOO, SYDCTO, SYMCU, SYCO, SYAN8, SYSHAN, SYTRDJ, SYDRQJ, SYPDDJ, SYDRQT, SYVR01, 
    SYDEL1, SYDEL2, SYURCD, SYURDT, SYURAT, SYURAB, SYURRF, SAMLNM, SAADD1, SAADD2, SAADD3, 
    SAADD4, SHMLNM, SHADD1, SHADD2, SHADD3, SHADD4, JDE_Status, JDE_InsertDate, JDE_UpdateDate, 
    JDE_OrderNumber, JDE_ProccessLog, KT_ProcessDate, SYDOCO, SYEDLN, SYEDST, SYEDER, 
    SYEDDL, SYTPUR, SYEDCT, SYEDTY, SYEDSP, SYEDOC
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tup.mssql.model.OrderHeaderInEDIExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from OrderHeader_In_EDI
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from OrderHeader_In_EDI
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from OrderHeader_In_EDI
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tup.mssql.model.OrderHeaderInEDIExample" >
    delete from OrderHeader_In_EDI
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tup.mssql.model.OrderHeaderInEDI" >
    insert into OrderHeader_In_EDI (ID, SYKCOO, SYDCTO, 
      SYMCU, SYCO, SYAN8, SYSHAN, 
      SYTRDJ, SYDRQJ, SYPDDJ, 
      SYDRQT, SYVR01, SYDEL1, 
      SYDEL2, SYURCD, SYURDT, 
      SYURAT, SYURAB, SYURRF, 
      SAMLNM, SAADD1, SAADD2, 
      SAADD3, SAADD4, SHMLNM, 
      SHADD1, SHADD2, SHADD3, 
      SHADD4, JDE_Status, JDE_InsertDate, 
      JDE_UpdateDate, JDE_OrderNumber, JDE_ProccessLog, 
      KT_ProcessDate, SYDOCO, SYEDLN, 
      SYEDST, SYEDER, SYEDDL, 
      SYTPUR, SYEDCT, SYEDTY, 
      SYEDSP, SYEDOC)
    values (#{id,jdbcType=CHAR}, #{sykcoo,jdbcType=VARCHAR}, #{sydcto,jdbcType=VARCHAR}, 
      #{symcu,jdbcType=CHAR}, #{syco,jdbcType=VARCHAR}, #{syan8,jdbcType=INTEGER}, #{syshan,jdbcType=INTEGER}, 
      #{sytrdj,jdbcType=INTEGER}, #{sydrqj,jdbcType=INTEGER}, #{sypddj,jdbcType=INTEGER}, 
      #{sydrqt,jdbcType=INTEGER}, #{syvr01,jdbcType=VARCHAR}, #{sydel1,jdbcType=VARCHAR}, 
      #{sydel2,jdbcType=VARCHAR}, #{syurcd,jdbcType=VARCHAR}, #{syurdt,jdbcType=INTEGER}, 
      #{syurat,jdbcType=NUMERIC}, #{syurab,jdbcType=INTEGER}, #{syurrf,jdbcType=VARCHAR}, 
      #{samlnm,jdbcType=NVARCHAR}, #{saadd1,jdbcType=NVARCHAR}, #{saadd2,jdbcType=NVARCHAR}, 
      #{saadd3,jdbcType=NVARCHAR}, #{saadd4,jdbcType=NVARCHAR}, #{shmlnm,jdbcType=NVARCHAR}, 
      #{shadd1,jdbcType=NVARCHAR}, #{shadd2,jdbcType=NVARCHAR}, #{shadd3,jdbcType=NVARCHAR}, 
      #{shadd4,jdbcType=NVARCHAR}, #{jdeStatus,jdbcType=VARCHAR}, #{jdeInsertdate,jdbcType=TIMESTAMP}, 
      #{jdeUpdatedate,jdbcType=TIMESTAMP}, #{jdeOrdernumber,jdbcType=BIGINT}, #{jdeProccesslog,jdbcType=VARCHAR}, 
      #{ktProcessdate,jdbcType=TIMESTAMP}, #{sydoco,jdbcType=BIGINT}, #{syedln,jdbcType=NUMERIC}, 
      #{syedst,jdbcType=VARCHAR}, #{syeder,jdbcType=VARCHAR}, #{syeddl,jdbcType=NUMERIC}, 
      #{sytpur,jdbcType=VARCHAR}, #{syedct,jdbcType=VARCHAR}, #{syedty,jdbcType=VARCHAR}, 
      #{syedsp,jdbcType=VARCHAR}, #{syedoc,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tup.mssql.model.OrderHeaderInEDI" >
    insert into OrderHeader_In_EDI
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="sykcoo != null" >
        SYKCOO,
      </if>
      <if test="sydcto != null" >
        SYDCTO,
      </if>
      <if test="symcu != null" >
        SYMCU,
      </if>
      <if test="syco != null" >
        SYCO,
      </if>
      <if test="syan8 != null" >
        SYAN8,
      </if>
      <if test="syshan != null" >
        SYSHAN,
      </if>
      <if test="sytrdj != null" >
        SYTRDJ,
      </if>
      <if test="sydrqj != null" >
        SYDRQJ,
      </if>
      <if test="sypddj != null" >
        SYPDDJ,
      </if>
      <if test="sydrqt != null" >
        SYDRQT,
      </if>
      <if test="syvr01 != null" >
        SYVR01,
      </if>
      <if test="sydel1 != null" >
        SYDEL1,
      </if>
      <if test="sydel2 != null" >
        SYDEL2,
      </if>
      <if test="syurcd != null" >
        SYURCD,
      </if>
      <if test="syurdt != null" >
        SYURDT,
      </if>
      <if test="syurat != null" >
        SYURAT,
      </if>
      <if test="syurab != null" >
        SYURAB,
      </if>
      <if test="syurrf != null" >
        SYURRF,
      </if>
      <if test="samlnm != null" >
        SAMLNM,
      </if>
      <if test="saadd1 != null" >
        SAADD1,
      </if>
      <if test="saadd2 != null" >
        SAADD2,
      </if>
      <if test="saadd3 != null" >
        SAADD3,
      </if>
      <if test="saadd4 != null" >
        SAADD4,
      </if>
      <if test="shmlnm != null" >
        SHMLNM,
      </if>
      <if test="shadd1 != null" >
        SHADD1,
      </if>
      <if test="shadd2 != null" >
        SHADD2,
      </if>
      <if test="shadd3 != null" >
        SHADD3,
      </if>
      <if test="shadd4 != null" >
        SHADD4,
      </if>
      <if test="jdeStatus != null" >
        JDE_Status,
      </if>
      <if test="jdeInsertdate != null" >
        JDE_InsertDate,
      </if>
      <if test="jdeUpdatedate != null" >
        JDE_UpdateDate,
      </if>
      <if test="jdeOrdernumber != null" >
        JDE_OrderNumber,
      </if>
      <if test="jdeProccesslog != null" >
        JDE_ProccessLog,
      </if>
      <if test="ktProcessdate != null" >
        KT_ProcessDate,
      </if>
      <if test="sydoco != null" >
        SYDOCO,
      </if>
      <if test="syedln != null" >
        SYEDLN,
      </if>
      <if test="syedst != null" >
        SYEDST,
      </if>
      <if test="syeder != null" >
        SYEDER,
      </if>
      <if test="syeddl != null" >
        SYEDDL,
      </if>
      <if test="sytpur != null" >
        SYTPUR,
      </if>
      <if test="syedct != null" >
        SYEDCT,
      </if>
      <if test="syedty != null" >
        SYEDTY,
      </if>
      <if test="syedsp != null" >
        SYEDSP,
      </if>
      <if test="syedoc != null" >
        SYEDOC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="sykcoo != null" >
        #{sykcoo,jdbcType=VARCHAR},
      </if>
      <if test="sydcto != null" >
        #{sydcto,jdbcType=VARCHAR},
      </if>
      <if test="symcu != null" >
        #{symcu,jdbcType=CHAR},
      </if>
      <if test="syco != null" >
        #{syco,jdbcType=VARCHAR},
      </if>
      <if test="syan8 != null" >
        #{syan8,jdbcType=INTEGER},
      </if>
      <if test="syshan != null" >
        #{syshan,jdbcType=INTEGER},
      </if>
      <if test="sytrdj != null" >
        #{sytrdj,jdbcType=INTEGER},
      </if>
      <if test="sydrqj != null" >
        #{sydrqj,jdbcType=INTEGER},
      </if>
      <if test="sypddj != null" >
        #{sypddj,jdbcType=INTEGER},
      </if>
      <if test="sydrqt != null" >
        #{sydrqt,jdbcType=INTEGER},
      </if>
      <if test="syvr01 != null" >
        #{syvr01,jdbcType=VARCHAR},
      </if>
      <if test="sydel1 != null" >
        #{sydel1,jdbcType=VARCHAR},
      </if>
      <if test="sydel2 != null" >
        #{sydel2,jdbcType=VARCHAR},
      </if>
      <if test="syurcd != null" >
        #{syurcd,jdbcType=VARCHAR},
      </if>
      <if test="syurdt != null" >
        #{syurdt,jdbcType=INTEGER},
      </if>
      <if test="syurat != null" >
        #{syurat,jdbcType=NUMERIC},
      </if>
      <if test="syurab != null" >
        #{syurab,jdbcType=INTEGER},
      </if>
      <if test="syurrf != null" >
        #{syurrf,jdbcType=VARCHAR},
      </if>
      <if test="samlnm != null" >
        #{samlnm,jdbcType=NVARCHAR},
      </if>
      <if test="saadd1 != null" >
        #{saadd1,jdbcType=NVARCHAR},
      </if>
      <if test="saadd2 != null" >
        #{saadd2,jdbcType=NVARCHAR},
      </if>
      <if test="saadd3 != null" >
        #{saadd3,jdbcType=NVARCHAR},
      </if>
      <if test="saadd4 != null" >
        #{saadd4,jdbcType=NVARCHAR},
      </if>
      <if test="shmlnm != null" >
        #{shmlnm,jdbcType=NVARCHAR},
      </if>
      <if test="shadd1 != null" >
        #{shadd1,jdbcType=NVARCHAR},
      </if>
      <if test="shadd2 != null" >
        #{shadd2,jdbcType=NVARCHAR},
      </if>
      <if test="shadd3 != null" >
        #{shadd3,jdbcType=NVARCHAR},
      </if>
      <if test="shadd4 != null" >
        #{shadd4,jdbcType=NVARCHAR},
      </if>
      <if test="jdeStatus != null" >
        #{jdeStatus,jdbcType=VARCHAR},
      </if>
      <if test="jdeInsertdate != null" >
        #{jdeInsertdate,jdbcType=TIMESTAMP},
      </if>
      <if test="jdeUpdatedate != null" >
        #{jdeUpdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="jdeOrdernumber != null" >
        #{jdeOrdernumber,jdbcType=BIGINT},
      </if>
      <if test="jdeProccesslog != null" >
        #{jdeProccesslog,jdbcType=VARCHAR},
      </if>
      <if test="ktProcessdate != null" >
        #{ktProcessdate,jdbcType=TIMESTAMP},
      </if>
      <if test="sydoco != null" >
        #{sydoco,jdbcType=BIGINT},
      </if>
      <if test="syedln != null" >
        #{syedln,jdbcType=NUMERIC},
      </if>
      <if test="syedst != null" >
        #{syedst,jdbcType=VARCHAR},
      </if>
      <if test="syeder != null" >
        #{syeder,jdbcType=VARCHAR},
      </if>
      <if test="syeddl != null" >
        #{syeddl,jdbcType=NUMERIC},
      </if>
      <if test="sytpur != null" >
        #{sytpur,jdbcType=VARCHAR},
      </if>
      <if test="syedct != null" >
        #{syedct,jdbcType=VARCHAR},
      </if>
      <if test="syedty != null" >
        #{syedty,jdbcType=VARCHAR},
      </if>
      <if test="syedsp != null" >
        #{syedsp,jdbcType=VARCHAR},
      </if>
      <if test="syedoc != null" >
        #{syedoc,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tup.mssql.model.OrderHeaderInEDIExample" resultType="java.lang.Integer" >
    select count(*) from OrderHeader_In_EDI
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update OrderHeader_In_EDI
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.sykcoo != null" >
        SYKCOO = #{record.sykcoo,jdbcType=VARCHAR},
      </if>
      <if test="record.sydcto != null" >
        SYDCTO = #{record.sydcto,jdbcType=VARCHAR},
      </if>
      <if test="record.symcu != null" >
        SYMCU = #{record.symcu,jdbcType=CHAR},
      </if>
      <if test="record.syco != null" >
        SYCO = #{record.syco,jdbcType=VARCHAR},
      </if>
      <if test="record.syan8 != null" >
        SYAN8 = #{record.syan8,jdbcType=INTEGER},
      </if>
      <if test="record.syshan != null" >
        SYSHAN = #{record.syshan,jdbcType=INTEGER},
      </if>
      <if test="record.sytrdj != null" >
        SYTRDJ = #{record.sytrdj,jdbcType=INTEGER},
      </if>
      <if test="record.sydrqj != null" >
        SYDRQJ = #{record.sydrqj,jdbcType=INTEGER},
      </if>
      <if test="record.sypddj != null" >
        SYPDDJ = #{record.sypddj,jdbcType=INTEGER},
      </if>
      <if test="record.sydrqt != null" >
        SYDRQT = #{record.sydrqt,jdbcType=INTEGER},
      </if>
      <if test="record.syvr01 != null" >
        SYVR01 = #{record.syvr01,jdbcType=VARCHAR},
      </if>
      <if test="record.sydel1 != null" >
        SYDEL1 = #{record.sydel1,jdbcType=VARCHAR},
      </if>
      <if test="record.sydel2 != null" >
        SYDEL2 = #{record.sydel2,jdbcType=VARCHAR},
      </if>
      <if test="record.syurcd != null" >
        SYURCD = #{record.syurcd,jdbcType=VARCHAR},
      </if>
      <if test="record.syurdt != null" >
        SYURDT = #{record.syurdt,jdbcType=INTEGER},
      </if>
      <if test="record.syurat != null" >
        SYURAT = #{record.syurat,jdbcType=NUMERIC},
      </if>
      <if test="record.syurab != null" >
        SYURAB = #{record.syurab,jdbcType=INTEGER},
      </if>
      <if test="record.syurrf != null" >
        SYURRF = #{record.syurrf,jdbcType=VARCHAR},
      </if>
      <if test="record.samlnm != null" >
        SAMLNM = #{record.samlnm,jdbcType=NVARCHAR},
      </if>
      <if test="record.saadd1 != null" >
        SAADD1 = #{record.saadd1,jdbcType=NVARCHAR},
      </if>
      <if test="record.saadd2 != null" >
        SAADD2 = #{record.saadd2,jdbcType=NVARCHAR},
      </if>
      <if test="record.saadd3 != null" >
        SAADD3 = #{record.saadd3,jdbcType=NVARCHAR},
      </if>
      <if test="record.saadd4 != null" >
        SAADD4 = #{record.saadd4,jdbcType=NVARCHAR},
      </if>
      <if test="record.shmlnm != null" >
        SHMLNM = #{record.shmlnm,jdbcType=NVARCHAR},
      </if>
      <if test="record.shadd1 != null" >
        SHADD1 = #{record.shadd1,jdbcType=NVARCHAR},
      </if>
      <if test="record.shadd2 != null" >
        SHADD2 = #{record.shadd2,jdbcType=NVARCHAR},
      </if>
      <if test="record.shadd3 != null" >
        SHADD3 = #{record.shadd3,jdbcType=NVARCHAR},
      </if>
      <if test="record.shadd4 != null" >
        SHADD4 = #{record.shadd4,jdbcType=NVARCHAR},
      </if>
      <if test="record.jdeStatus != null" >
        JDE_Status = #{record.jdeStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.jdeInsertdate != null" >
        JDE_InsertDate = #{record.jdeInsertdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jdeUpdatedate != null" >
        JDE_UpdateDate = #{record.jdeUpdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jdeOrdernumber != null" >
        JDE_OrderNumber = #{record.jdeOrdernumber,jdbcType=BIGINT},
      </if>
      <if test="record.jdeProccesslog != null" >
        JDE_ProccessLog = #{record.jdeProccesslog,jdbcType=VARCHAR},
      </if>
      <if test="record.ktProcessdate != null" >
        KT_ProcessDate = #{record.ktProcessdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sydoco != null" >
        SYDOCO = #{record.sydoco,jdbcType=BIGINT},
      </if>
      <if test="record.syedln != null" >
        SYEDLN = #{record.syedln,jdbcType=NUMERIC},
      </if>
      <if test="record.syedst != null" >
        SYEDST = #{record.syedst,jdbcType=VARCHAR},
      </if>
      <if test="record.syeder != null" >
        SYEDER = #{record.syeder,jdbcType=VARCHAR},
      </if>
      <if test="record.syeddl != null" >
        SYEDDL = #{record.syeddl,jdbcType=NUMERIC},
      </if>
      <if test="record.sytpur != null" >
        SYTPUR = #{record.sytpur,jdbcType=VARCHAR},
      </if>
      <if test="record.syedct != null" >
        SYEDCT = #{record.syedct,jdbcType=VARCHAR},
      </if>
      <if test="record.syedty != null" >
        SYEDTY = #{record.syedty,jdbcType=VARCHAR},
      </if>
      <if test="record.syedsp != null" >
        SYEDSP = #{record.syedsp,jdbcType=VARCHAR},
      </if>
      <if test="record.syedoc != null" >
        SYEDOC = #{record.syedoc,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update OrderHeader_In_EDI
    set ID = #{record.id,jdbcType=CHAR},
      SYKCOO = #{record.sykcoo,jdbcType=VARCHAR},
      SYDCTO = #{record.sydcto,jdbcType=VARCHAR},
      SYMCU = #{record.symcu,jdbcType=CHAR},
      SYCO = #{record.syco,jdbcType=VARCHAR},
      SYAN8 = #{record.syan8,jdbcType=INTEGER},
      SYSHAN = #{record.syshan,jdbcType=INTEGER},
      SYTRDJ = #{record.sytrdj,jdbcType=INTEGER},
      SYDRQJ = #{record.sydrqj,jdbcType=INTEGER},
      SYPDDJ = #{record.sypddj,jdbcType=INTEGER},
      SYDRQT = #{record.sydrqt,jdbcType=INTEGER},
      SYVR01 = #{record.syvr01,jdbcType=VARCHAR},
      SYDEL1 = #{record.sydel1,jdbcType=VARCHAR},
      SYDEL2 = #{record.sydel2,jdbcType=VARCHAR},
      SYURCD = #{record.syurcd,jdbcType=VARCHAR},
      SYURDT = #{record.syurdt,jdbcType=INTEGER},
      SYURAT = #{record.syurat,jdbcType=NUMERIC},
      SYURAB = #{record.syurab,jdbcType=INTEGER},
      SYURRF = #{record.syurrf,jdbcType=VARCHAR},
      SAMLNM = #{record.samlnm,jdbcType=NVARCHAR},
      SAADD1 = #{record.saadd1,jdbcType=NVARCHAR},
      SAADD2 = #{record.saadd2,jdbcType=NVARCHAR},
      SAADD3 = #{record.saadd3,jdbcType=NVARCHAR},
      SAADD4 = #{record.saadd4,jdbcType=NVARCHAR},
      SHMLNM = #{record.shmlnm,jdbcType=NVARCHAR},
      SHADD1 = #{record.shadd1,jdbcType=NVARCHAR},
      SHADD2 = #{record.shadd2,jdbcType=NVARCHAR},
      SHADD3 = #{record.shadd3,jdbcType=NVARCHAR},
      SHADD4 = #{record.shadd4,jdbcType=NVARCHAR},
      JDE_Status = #{record.jdeStatus,jdbcType=VARCHAR},
      JDE_InsertDate = #{record.jdeInsertdate,jdbcType=TIMESTAMP},
      JDE_UpdateDate = #{record.jdeUpdatedate,jdbcType=TIMESTAMP},
      JDE_OrderNumber = #{record.jdeOrdernumber,jdbcType=BIGINT},
      JDE_ProccessLog = #{record.jdeProccesslog,jdbcType=VARCHAR},
      KT_ProcessDate = #{record.ktProcessdate,jdbcType=TIMESTAMP},
      SYDOCO = #{record.sydoco,jdbcType=BIGINT},
      SYEDLN = #{record.syedln,jdbcType=NUMERIC},
      SYEDST = #{record.syedst,jdbcType=VARCHAR},
      SYEDER = #{record.syeder,jdbcType=VARCHAR},
      SYEDDL = #{record.syeddl,jdbcType=NUMERIC},
      SYTPUR = #{record.sytpur,jdbcType=VARCHAR},
      SYEDCT = #{record.syedct,jdbcType=VARCHAR},
      SYEDTY = #{record.syedty,jdbcType=VARCHAR},
      SYEDSP = #{record.syedsp,jdbcType=VARCHAR},
      SYEDOC = #{record.syedoc,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tup.mssql.model.OrderHeaderInEDI" >
    update OrderHeader_In_EDI
    <set >
      <if test="sykcoo != null" >
        SYKCOO = #{sykcoo,jdbcType=VARCHAR},
      </if>
      <if test="sydcto != null" >
        SYDCTO = #{sydcto,jdbcType=VARCHAR},
      </if>
      <if test="symcu != null" >
        SYMCU = #{symcu,jdbcType=CHAR},
      </if>
      <if test="syco != null" >
        SYCO = #{syco,jdbcType=VARCHAR},
      </if>
      <if test="syan8 != null" >
        SYAN8 = #{syan8,jdbcType=INTEGER},
      </if>
      <if test="syshan != null" >
        SYSHAN = #{syshan,jdbcType=INTEGER},
      </if>
      <if test="sytrdj != null" >
        SYTRDJ = #{sytrdj,jdbcType=INTEGER},
      </if>
      <if test="sydrqj != null" >
        SYDRQJ = #{sydrqj,jdbcType=INTEGER},
      </if>
      <if test="sypddj != null" >
        SYPDDJ = #{sypddj,jdbcType=INTEGER},
      </if>
      <if test="sydrqt != null" >
        SYDRQT = #{sydrqt,jdbcType=INTEGER},
      </if>
      <if test="syvr01 != null" >
        SYVR01 = #{syvr01,jdbcType=VARCHAR},
      </if>
      <if test="sydel1 != null" >
        SYDEL1 = #{sydel1,jdbcType=VARCHAR},
      </if>
      <if test="sydel2 != null" >
        SYDEL2 = #{sydel2,jdbcType=VARCHAR},
      </if>
      <if test="syurcd != null" >
        SYURCD = #{syurcd,jdbcType=VARCHAR},
      </if>
      <if test="syurdt != null" >
        SYURDT = #{syurdt,jdbcType=INTEGER},
      </if>
      <if test="syurat != null" >
        SYURAT = #{syurat,jdbcType=NUMERIC},
      </if>
      <if test="syurab != null" >
        SYURAB = #{syurab,jdbcType=INTEGER},
      </if>
      <if test="syurrf != null" >
        SYURRF = #{syurrf,jdbcType=VARCHAR},
      </if>
      <if test="samlnm != null" >
        SAMLNM = #{samlnm,jdbcType=NVARCHAR},
      </if>
      <if test="saadd1 != null" >
        SAADD1 = #{saadd1,jdbcType=NVARCHAR},
      </if>
      <if test="saadd2 != null" >
        SAADD2 = #{saadd2,jdbcType=NVARCHAR},
      </if>
      <if test="saadd3 != null" >
        SAADD3 = #{saadd3,jdbcType=NVARCHAR},
      </if>
      <if test="saadd4 != null" >
        SAADD4 = #{saadd4,jdbcType=NVARCHAR},
      </if>
      <if test="shmlnm != null" >
        SHMLNM = #{shmlnm,jdbcType=NVARCHAR},
      </if>
      <if test="shadd1 != null" >
        SHADD1 = #{shadd1,jdbcType=NVARCHAR},
      </if>
      <if test="shadd2 != null" >
        SHADD2 = #{shadd2,jdbcType=NVARCHAR},
      </if>
      <if test="shadd3 != null" >
        SHADD3 = #{shadd3,jdbcType=NVARCHAR},
      </if>
      <if test="shadd4 != null" >
        SHADD4 = #{shadd4,jdbcType=NVARCHAR},
      </if>
      <if test="jdeStatus != null" >
        JDE_Status = #{jdeStatus,jdbcType=VARCHAR},
      </if>
      <if test="jdeInsertdate != null" >
        JDE_InsertDate = #{jdeInsertdate,jdbcType=TIMESTAMP},
      </if>
      <if test="jdeUpdatedate != null" >
        JDE_UpdateDate = #{jdeUpdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="jdeOrdernumber != null" >
        JDE_OrderNumber = #{jdeOrdernumber,jdbcType=BIGINT},
      </if>
      <if test="jdeProccesslog != null" >
        JDE_ProccessLog = #{jdeProccesslog,jdbcType=VARCHAR},
      </if>
      <if test="ktProcessdate != null" >
        KT_ProcessDate = #{ktProcessdate,jdbcType=TIMESTAMP},
      </if>
      <if test="sydoco != null" >
        SYDOCO = #{sydoco,jdbcType=BIGINT},
      </if>
      <if test="syedln != null" >
        SYEDLN = #{syedln,jdbcType=NUMERIC},
      </if>
      <if test="syedst != null" >
        SYEDST = #{syedst,jdbcType=VARCHAR},
      </if>
      <if test="syeder != null" >
        SYEDER = #{syeder,jdbcType=VARCHAR},
      </if>
      <if test="syeddl != null" >
        SYEDDL = #{syeddl,jdbcType=NUMERIC},
      </if>
      <if test="sytpur != null" >
        SYTPUR = #{sytpur,jdbcType=VARCHAR},
      </if>
      <if test="syedct != null" >
        SYEDCT = #{syedct,jdbcType=VARCHAR},
      </if>
      <if test="syedty != null" >
        SYEDTY = #{syedty,jdbcType=VARCHAR},
      </if>
      <if test="syedsp != null" >
        SYEDSP = #{syedsp,jdbcType=VARCHAR},
      </if>
      <if test="syedoc != null" >
        SYEDOC = #{syedoc,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tup.mssql.model.OrderHeaderInEDI" >
    update OrderHeader_In_EDI
    set SYKCOO = #{sykcoo,jdbcType=VARCHAR},
      SYDCTO = #{sydcto,jdbcType=VARCHAR},
      SYMCU = #{symcu,jdbcType=CHAR},
      SYCO = #{syco,jdbcType=VARCHAR},
      SYAN8 = #{syan8,jdbcType=INTEGER},
      SYSHAN = #{syshan,jdbcType=INTEGER},
      SYTRDJ = #{sytrdj,jdbcType=INTEGER},
      SYDRQJ = #{sydrqj,jdbcType=INTEGER},
      SYPDDJ = #{sypddj,jdbcType=INTEGER},
      SYDRQT = #{sydrqt,jdbcType=INTEGER},
      SYVR01 = #{syvr01,jdbcType=VARCHAR},
      SYDEL1 = #{sydel1,jdbcType=VARCHAR},
      SYDEL2 = #{sydel2,jdbcType=VARCHAR},
      SYURCD = #{syurcd,jdbcType=VARCHAR},
      SYURDT = #{syurdt,jdbcType=INTEGER},
      SYURAT = #{syurat,jdbcType=NUMERIC},
      SYURAB = #{syurab,jdbcType=INTEGER},
      SYURRF = #{syurrf,jdbcType=VARCHAR},
      SAMLNM = #{samlnm,jdbcType=NVARCHAR},
      SAADD1 = #{saadd1,jdbcType=NVARCHAR},
      SAADD2 = #{saadd2,jdbcType=NVARCHAR},
      SAADD3 = #{saadd3,jdbcType=NVARCHAR},
      SAADD4 = #{saadd4,jdbcType=NVARCHAR},
      SHMLNM = #{shmlnm,jdbcType=NVARCHAR},
      SHADD1 = #{shadd1,jdbcType=NVARCHAR},
      SHADD2 = #{shadd2,jdbcType=NVARCHAR},
      SHADD3 = #{shadd3,jdbcType=NVARCHAR},
      SHADD4 = #{shadd4,jdbcType=NVARCHAR},
      JDE_Status = #{jdeStatus,jdbcType=VARCHAR},
      JDE_InsertDate = #{jdeInsertdate,jdbcType=TIMESTAMP},
      JDE_UpdateDate = #{jdeUpdatedate,jdbcType=TIMESTAMP},
      JDE_OrderNumber = #{jdeOrdernumber,jdbcType=BIGINT},
      JDE_ProccessLog = #{jdeProccesslog,jdbcType=VARCHAR},
      KT_ProcessDate = #{ktProcessdate,jdbcType=TIMESTAMP},
      SYDOCO = #{sydoco,jdbcType=BIGINT},
      SYEDLN = #{syedln,jdbcType=NUMERIC},
      SYEDST = #{syedst,jdbcType=VARCHAR},
      SYEDER = #{syeder,jdbcType=VARCHAR},
      SYEDDL = #{syeddl,jdbcType=NUMERIC},
      SYTPUR = #{sytpur,jdbcType=VARCHAR},
      SYEDCT = #{syedct,jdbcType=VARCHAR},
      SYEDTY = #{syedty,jdbcType=VARCHAR},
      SYEDSP = #{syedsp,jdbcType=VARCHAR},
      SYEDOC = #{syedoc,jdbcType=BIGINT}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>