<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tup.mssql.mapper.OrderHeaderJDEnewMapper" >
  <resultMap id="BaseResultMap" type="com.tup.mssql.model.OrderHeaderJDEnew" >
    <id column="SHKCOO" property="shkcoo" jdbcType="VARCHAR" />
    <id column="SHDOCO" property="shdoco" jdbcType="INTEGER" />
    <id column="SHDCTO" property="shdcto" jdbcType="VARCHAR" />
    <result column="SHMCU" property="shmcu" jdbcType="VARCHAR" />
    <result column="SHCO" property="shco" jdbcType="VARCHAR" />
    <result column="SHAN8" property="shan8" jdbcType="INTEGER" />
    <result column="SHSHAN" property="shshan" jdbcType="INTEGER" />
    <result column="SHTRDJ" property="shtrdj" jdbcType="DATE" />
    <result column="SHDRQJ" property="shdrqj" jdbcType="TIMESTAMP" />
    <result column="SHPDDJ" property="shpddj" jdbcType="DATE" />
    <result column="SHVR01" property="shvr01" jdbcType="NVARCHAR" />
    <result column="SHDEL1" property="shdel1" jdbcType="VARCHAR" />
    <result column="SHDEL2" property="shdel2" jdbcType="VARCHAR" />
    <result column="SHURCD" property="shurcd" jdbcType="VARCHAR" />
    <result column="SHURDT" property="shurdt" jdbcType="DATE" />
    <result column="SHURAT" property="shurat" jdbcType="NUMERIC" />
    <result column="SHURAB" property="shurab" jdbcType="NUMERIC" />
    <result column="SHURRF" property="shurrf" jdbcType="VARCHAR" />
    <result column="SHUPMJ" property="shupmj" jdbcType="DATE" />
    <result column="SAMLNM" property="samlnm" jdbcType="NVARCHAR" />
    <result column="SAADD1" property="saadd1" jdbcType="NVARCHAR" />
    <result column="SAADD2" property="saadd2" jdbcType="NVARCHAR" />
    <result column="SAADD3" property="saadd3" jdbcType="NVARCHAR" />
    <result column="SAADD4" property="saadd4" jdbcType="NVARCHAR" />
    <result column="SHMLNM" property="shmlnm" jdbcType="NVARCHAR" />
    <result column="SHADD1" property="shadd1" jdbcType="NVARCHAR" />
    <result column="SHADD2" property="shadd2" jdbcType="NVARCHAR" />
    <result column="SHADD3" property="shadd3" jdbcType="NVARCHAR" />
    <result column="SHADD4" property="shadd4" jdbcType="NVARCHAR" />
    <result column="JDE_UpdateDate" property="jdeUpdatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SHKCOO, SHDOCO, SHDCTO, SHMCU, SHCO, SHAN8, SHSHAN, SHTRDJ, SHDRQJ, SHPDDJ, SHVR01, 
    SHDEL1, SHDEL2, SHURCD, SHURDT, SHURAT, SHURAB, SHURRF, SHUPMJ, SAMLNM, SAADD1, SAADD2, 
    SAADD3, SAADD4, SHMLNM, SHADD1, SHADD2, SHADD3, SHADD4, JDE_UpdateDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tup.mssql.model.OrderHeaderJDEnewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from OrderHeader_JDE_new
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tup.mssql.model.OrderHeaderJDEnewKey" >
    select 
    <include refid="Base_Column_List" />
    from OrderHeader_JDE_new
    where SHKCOO = #{shkcoo,jdbcType=VARCHAR}
      and SHDOCO = #{shdoco,jdbcType=INTEGER}
      and SHDCTO = #{shdcto,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tup.mssql.model.OrderHeaderJDEnewKey" >
    delete from OrderHeader_JDE_new
    where SHKCOO = #{shkcoo,jdbcType=VARCHAR}
      and SHDOCO = #{shdoco,jdbcType=INTEGER}
      and SHDCTO = #{shdcto,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tup.mssql.model.OrderHeaderJDEnewExample" >
    delete from OrderHeader_JDE_new
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tup.mssql.model.OrderHeaderJDEnew" >
    insert into OrderHeader_JDE_new (SHKCOO, SHDOCO, SHDCTO, 
      SHMCU, SHCO, SHAN8, 
      SHSHAN, SHTRDJ, SHDRQJ, 
      SHPDDJ, SHVR01, SHDEL1, 
      SHDEL2, SHURCD, SHURDT, 
      SHURAT, SHURAB, SHURRF, 
      SHUPMJ, SAMLNM, SAADD1, 
      SAADD2, SAADD3, SAADD4, 
      SHMLNM, SHADD1, SHADD2, 
      SHADD3, SHADD4, JDE_UpdateDate
      )
    values (#{shkcoo,jdbcType=VARCHAR}, #{shdoco,jdbcType=INTEGER}, #{shdcto,jdbcType=VARCHAR}, 
      #{shmcu,jdbcType=VARCHAR}, #{shco,jdbcType=VARCHAR}, #{shan8,jdbcType=INTEGER}, 
      #{shshan,jdbcType=INTEGER}, #{shtrdj,jdbcType=DATE}, #{shdrqj,jdbcType=TIMESTAMP}, 
      #{shpddj,jdbcType=DATE}, #{shvr01,jdbcType=NVARCHAR}, #{shdel1,jdbcType=VARCHAR}, 
      #{shdel2,jdbcType=VARCHAR}, #{shurcd,jdbcType=VARCHAR}, #{shurdt,jdbcType=DATE}, 
      #{shurat,jdbcType=NUMERIC}, #{shurab,jdbcType=NUMERIC}, #{shurrf,jdbcType=VARCHAR}, 
      #{shupmj,jdbcType=DATE}, #{samlnm,jdbcType=NVARCHAR}, #{saadd1,jdbcType=NVARCHAR}, 
      #{saadd2,jdbcType=NVARCHAR}, #{saadd3,jdbcType=NVARCHAR}, #{saadd4,jdbcType=NVARCHAR}, 
      #{shmlnm,jdbcType=NVARCHAR}, #{shadd1,jdbcType=NVARCHAR}, #{shadd2,jdbcType=NVARCHAR}, 
      #{shadd3,jdbcType=NVARCHAR}, #{shadd4,jdbcType=NVARCHAR}, #{jdeUpdatedate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tup.mssql.model.OrderHeaderJDEnew" >
    insert into OrderHeader_JDE_new
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shkcoo != null" >
        SHKCOO,
      </if>
      <if test="shdoco != null" >
        SHDOCO,
      </if>
      <if test="shdcto != null" >
        SHDCTO,
      </if>
      <if test="shmcu != null" >
        SHMCU,
      </if>
      <if test="shco != null" >
        SHCO,
      </if>
      <if test="shan8 != null" >
        SHAN8,
      </if>
      <if test="shshan != null" >
        SHSHAN,
      </if>
      <if test="shtrdj != null" >
        SHTRDJ,
      </if>
      <if test="shdrqj != null" >
        SHDRQJ,
      </if>
      <if test="shpddj != null" >
        SHPDDJ,
      </if>
      <if test="shvr01 != null" >
        SHVR01,
      </if>
      <if test="shdel1 != null" >
        SHDEL1,
      </if>
      <if test="shdel2 != null" >
        SHDEL2,
      </if>
      <if test="shurcd != null" >
        SHURCD,
      </if>
      <if test="shurdt != null" >
        SHURDT,
      </if>
      <if test="shurat != null" >
        SHURAT,
      </if>
      <if test="shurab != null" >
        SHURAB,
      </if>
      <if test="shurrf != null" >
        SHURRF,
      </if>
      <if test="shupmj != null" >
        SHUPMJ,
      </if>
      <if test="samlnm != null" >
        SAMLNM,
      </if>
      <if test="saadd1 != null" >
        SAADD1,
      </if>
      <if test="saadd2 != null" >
        SAADD2,
      </if>
      <if test="saadd3 != null" >
        SAADD3,
      </if>
      <if test="saadd4 != null" >
        SAADD4,
      </if>
      <if test="shmlnm != null" >
        SHMLNM,
      </if>
      <if test="shadd1 != null" >
        SHADD1,
      </if>
      <if test="shadd2 != null" >
        SHADD2,
      </if>
      <if test="shadd3 != null" >
        SHADD3,
      </if>
      <if test="shadd4 != null" >
        SHADD4,
      </if>
      <if test="jdeUpdatedate != null" >
        JDE_UpdateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shkcoo != null" >
        #{shkcoo,jdbcType=VARCHAR},
      </if>
      <if test="shdoco != null" >
        #{shdoco,jdbcType=INTEGER},
      </if>
      <if test="shdcto != null" >
        #{shdcto,jdbcType=VARCHAR},
      </if>
      <if test="shmcu != null" >
        #{shmcu,jdbcType=VARCHAR},
      </if>
      <if test="shco != null" >
        #{shco,jdbcType=VARCHAR},
      </if>
      <if test="shan8 != null" >
        #{shan8,jdbcType=INTEGER},
      </if>
      <if test="shshan != null" >
        #{shshan,jdbcType=INTEGER},
      </if>
      <if test="shtrdj != null" >
        #{shtrdj,jdbcType=DATE},
      </if>
      <if test="shdrqj != null" >
        #{shdrqj,jdbcType=TIMESTAMP},
      </if>
      <if test="shpddj != null" >
        #{shpddj,jdbcType=DATE},
      </if>
      <if test="shvr01 != null" >
        #{shvr01,jdbcType=NVARCHAR},
      </if>
      <if test="shdel1 != null" >
        #{shdel1,jdbcType=VARCHAR},
      </if>
      <if test="shdel2 != null" >
        #{shdel2,jdbcType=VARCHAR},
      </if>
      <if test="shurcd != null" >
        #{shurcd,jdbcType=VARCHAR},
      </if>
      <if test="shurdt != null" >
        #{shurdt,jdbcType=DATE},
      </if>
      <if test="shurat != null" >
        #{shurat,jdbcType=NUMERIC},
      </if>
      <if test="shurab != null" >
        #{shurab,jdbcType=NUMERIC},
      </if>
      <if test="shurrf != null" >
        #{shurrf,jdbcType=VARCHAR},
      </if>
      <if test="shupmj != null" >
        #{shupmj,jdbcType=DATE},
      </if>
      <if test="samlnm != null" >
        #{samlnm,jdbcType=NVARCHAR},
      </if>
      <if test="saadd1 != null" >
        #{saadd1,jdbcType=NVARCHAR},
      </if>
      <if test="saadd2 != null" >
        #{saadd2,jdbcType=NVARCHAR},
      </if>
      <if test="saadd3 != null" >
        #{saadd3,jdbcType=NVARCHAR},
      </if>
      <if test="saadd4 != null" >
        #{saadd4,jdbcType=NVARCHAR},
      </if>
      <if test="shmlnm != null" >
        #{shmlnm,jdbcType=NVARCHAR},
      </if>
      <if test="shadd1 != null" >
        #{shadd1,jdbcType=NVARCHAR},
      </if>
      <if test="shadd2 != null" >
        #{shadd2,jdbcType=NVARCHAR},
      </if>
      <if test="shadd3 != null" >
        #{shadd3,jdbcType=NVARCHAR},
      </if>
      <if test="shadd4 != null" >
        #{shadd4,jdbcType=NVARCHAR},
      </if>
      <if test="jdeUpdatedate != null" >
        #{jdeUpdatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tup.mssql.model.OrderHeaderJDEnewExample" resultType="java.lang.Integer" >
    select count(*) from OrderHeader_JDE_new
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update OrderHeader_JDE_new
    <set >
      <if test="record.shkcoo != null" >
        SHKCOO = #{record.shkcoo,jdbcType=VARCHAR},
      </if>
      <if test="record.shdoco != null" >
        SHDOCO = #{record.shdoco,jdbcType=INTEGER},
      </if>
      <if test="record.shdcto != null" >
        SHDCTO = #{record.shdcto,jdbcType=VARCHAR},
      </if>
      <if test="record.shmcu != null" >
        SHMCU = #{record.shmcu,jdbcType=VARCHAR},
      </if>
      <if test="record.shco != null" >
        SHCO = #{record.shco,jdbcType=VARCHAR},
      </if>
      <if test="record.shan8 != null" >
        SHAN8 = #{record.shan8,jdbcType=INTEGER},
      </if>
      <if test="record.shshan != null" >
        SHSHAN = #{record.shshan,jdbcType=INTEGER},
      </if>
      <if test="record.shtrdj != null" >
        SHTRDJ = #{record.shtrdj,jdbcType=DATE},
      </if>
      <if test="record.shdrqj != null" >
        SHDRQJ = #{record.shdrqj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shpddj != null" >
        SHPDDJ = #{record.shpddj,jdbcType=DATE},
      </if>
      <if test="record.shvr01 != null" >
        SHVR01 = #{record.shvr01,jdbcType=NVARCHAR},
      </if>
      <if test="record.shdel1 != null" >
        SHDEL1 = #{record.shdel1,jdbcType=VARCHAR},
      </if>
      <if test="record.shdel2 != null" >
        SHDEL2 = #{record.shdel2,jdbcType=VARCHAR},
      </if>
      <if test="record.shurcd != null" >
        SHURCD = #{record.shurcd,jdbcType=VARCHAR},
      </if>
      <if test="record.shurdt != null" >
        SHURDT = #{record.shurdt,jdbcType=DATE},
      </if>
      <if test="record.shurat != null" >
        SHURAT = #{record.shurat,jdbcType=NUMERIC},
      </if>
      <if test="record.shurab != null" >
        SHURAB = #{record.shurab,jdbcType=NUMERIC},
      </if>
      <if test="record.shurrf != null" >
        SHURRF = #{record.shurrf,jdbcType=VARCHAR},
      </if>
      <if test="record.shupmj != null" >
        SHUPMJ = #{record.shupmj,jdbcType=DATE},
      </if>
      <if test="record.samlnm != null" >
        SAMLNM = #{record.samlnm,jdbcType=NVARCHAR},
      </if>
      <if test="record.saadd1 != null" >
        SAADD1 = #{record.saadd1,jdbcType=NVARCHAR},
      </if>
      <if test="record.saadd2 != null" >
        SAADD2 = #{record.saadd2,jdbcType=NVARCHAR},
      </if>
      <if test="record.saadd3 != null" >
        SAADD3 = #{record.saadd3,jdbcType=NVARCHAR},
      </if>
      <if test="record.saadd4 != null" >
        SAADD4 = #{record.saadd4,jdbcType=NVARCHAR},
      </if>
      <if test="record.shmlnm != null" >
        SHMLNM = #{record.shmlnm,jdbcType=NVARCHAR},
      </if>
      <if test="record.shadd1 != null" >
        SHADD1 = #{record.shadd1,jdbcType=NVARCHAR},
      </if>
      <if test="record.shadd2 != null" >
        SHADD2 = #{record.shadd2,jdbcType=NVARCHAR},
      </if>
      <if test="record.shadd3 != null" >
        SHADD3 = #{record.shadd3,jdbcType=NVARCHAR},
      </if>
      <if test="record.shadd4 != null" >
        SHADD4 = #{record.shadd4,jdbcType=NVARCHAR},
      </if>
      <if test="record.jdeUpdatedate != null" >
        JDE_UpdateDate = #{record.jdeUpdatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update OrderHeader_JDE_new
    set SHKCOO = #{record.shkcoo,jdbcType=VARCHAR},
      SHDOCO = #{record.shdoco,jdbcType=INTEGER},
      SHDCTO = #{record.shdcto,jdbcType=VARCHAR},
      SHMCU = #{record.shmcu,jdbcType=VARCHAR},
      SHCO = #{record.shco,jdbcType=VARCHAR},
      SHAN8 = #{record.shan8,jdbcType=INTEGER},
      SHSHAN = #{record.shshan,jdbcType=INTEGER},
      SHTRDJ = #{record.shtrdj,jdbcType=DATE},
      SHDRQJ = #{record.shdrqj,jdbcType=TIMESTAMP},
      SHPDDJ = #{record.shpddj,jdbcType=DATE},
      SHVR01 = #{record.shvr01,jdbcType=NVARCHAR},
      SHDEL1 = #{record.shdel1,jdbcType=VARCHAR},
      SHDEL2 = #{record.shdel2,jdbcType=VARCHAR},
      SHURCD = #{record.shurcd,jdbcType=VARCHAR},
      SHURDT = #{record.shurdt,jdbcType=DATE},
      SHURAT = #{record.shurat,jdbcType=NUMERIC},
      SHURAB = #{record.shurab,jdbcType=NUMERIC},
      SHURRF = #{record.shurrf,jdbcType=VARCHAR},
      SHUPMJ = #{record.shupmj,jdbcType=DATE},
      SAMLNM = #{record.samlnm,jdbcType=NVARCHAR},
      SAADD1 = #{record.saadd1,jdbcType=NVARCHAR},
      SAADD2 = #{record.saadd2,jdbcType=NVARCHAR},
      SAADD3 = #{record.saadd3,jdbcType=NVARCHAR},
      SAADD4 = #{record.saadd4,jdbcType=NVARCHAR},
      SHMLNM = #{record.shmlnm,jdbcType=NVARCHAR},
      SHADD1 = #{record.shadd1,jdbcType=NVARCHAR},
      SHADD2 = #{record.shadd2,jdbcType=NVARCHAR},
      SHADD3 = #{record.shadd3,jdbcType=NVARCHAR},
      SHADD4 = #{record.shadd4,jdbcType=NVARCHAR},
      JDE_UpdateDate = #{record.jdeUpdatedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tup.mssql.model.OrderHeaderJDEnew" >
    update OrderHeader_JDE_new
    <set >
      <if test="shmcu != null" >
        SHMCU = #{shmcu,jdbcType=VARCHAR},
      </if>
      <if test="shco != null" >
        SHCO = #{shco,jdbcType=VARCHAR},
      </if>
      <if test="shan8 != null" >
        SHAN8 = #{shan8,jdbcType=INTEGER},
      </if>
      <if test="shshan != null" >
        SHSHAN = #{shshan,jdbcType=INTEGER},
      </if>
      <if test="shtrdj != null" >
        SHTRDJ = #{shtrdj,jdbcType=DATE},
      </if>
      <if test="shdrqj != null" >
        SHDRQJ = #{shdrqj,jdbcType=TIMESTAMP},
      </if>
      <if test="shpddj != null" >
        SHPDDJ = #{shpddj,jdbcType=DATE},
      </if>
      <if test="shvr01 != null" >
        SHVR01 = #{shvr01,jdbcType=NVARCHAR},
      </if>
      <if test="shdel1 != null" >
        SHDEL1 = #{shdel1,jdbcType=VARCHAR},
      </if>
      <if test="shdel2 != null" >
        SHDEL2 = #{shdel2,jdbcType=VARCHAR},
      </if>
      <if test="shurcd != null" >
        SHURCD = #{shurcd,jdbcType=VARCHAR},
      </if>
      <if test="shurdt != null" >
        SHURDT = #{shurdt,jdbcType=DATE},
      </if>
      <if test="shurat != null" >
        SHURAT = #{shurat,jdbcType=NUMERIC},
      </if>
      <if test="shurab != null" >
        SHURAB = #{shurab,jdbcType=NUMERIC},
      </if>
      <if test="shurrf != null" >
        SHURRF = #{shurrf,jdbcType=VARCHAR},
      </if>
      <if test="shupmj != null" >
        SHUPMJ = #{shupmj,jdbcType=DATE},
      </if>
      <if test="samlnm != null" >
        SAMLNM = #{samlnm,jdbcType=NVARCHAR},
      </if>
      <if test="saadd1 != null" >
        SAADD1 = #{saadd1,jdbcType=NVARCHAR},
      </if>
      <if test="saadd2 != null" >
        SAADD2 = #{saadd2,jdbcType=NVARCHAR},
      </if>
      <if test="saadd3 != null" >
        SAADD3 = #{saadd3,jdbcType=NVARCHAR},
      </if>
      <if test="saadd4 != null" >
        SAADD4 = #{saadd4,jdbcType=NVARCHAR},
      </if>
      <if test="shmlnm != null" >
        SHMLNM = #{shmlnm,jdbcType=NVARCHAR},
      </if>
      <if test="shadd1 != null" >
        SHADD1 = #{shadd1,jdbcType=NVARCHAR},
      </if>
      <if test="shadd2 != null" >
        SHADD2 = #{shadd2,jdbcType=NVARCHAR},
      </if>
      <if test="shadd3 != null" >
        SHADD3 = #{shadd3,jdbcType=NVARCHAR},
      </if>
      <if test="shadd4 != null" >
        SHADD4 = #{shadd4,jdbcType=NVARCHAR},
      </if>
      <if test="jdeUpdatedate != null" >
        JDE_UpdateDate = #{jdeUpdatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SHKCOO = #{shkcoo,jdbcType=VARCHAR}
      and SHDOCO = #{shdoco,jdbcType=INTEGER}
      and SHDCTO = #{shdcto,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tup.mssql.model.OrderHeaderJDEnew" >
    update OrderHeader_JDE_new
    set SHMCU = #{shmcu,jdbcType=VARCHAR},
      SHCO = #{shco,jdbcType=VARCHAR},
      SHAN8 = #{shan8,jdbcType=INTEGER},
      SHSHAN = #{shshan,jdbcType=INTEGER},
      SHTRDJ = #{shtrdj,jdbcType=DATE},
      SHDRQJ = #{shdrqj,jdbcType=TIMESTAMP},
      SHPDDJ = #{shpddj,jdbcType=DATE},
      SHVR01 = #{shvr01,jdbcType=NVARCHAR},
      SHDEL1 = #{shdel1,jdbcType=VARCHAR},
      SHDEL2 = #{shdel2,jdbcType=VARCHAR},
      SHURCD = #{shurcd,jdbcType=VARCHAR},
      SHURDT = #{shurdt,jdbcType=DATE},
      SHURAT = #{shurat,jdbcType=NUMERIC},
      SHURAB = #{shurab,jdbcType=NUMERIC},
      SHURRF = #{shurrf,jdbcType=VARCHAR},
      SHUPMJ = #{shupmj,jdbcType=DATE},
      SAMLNM = #{samlnm,jdbcType=NVARCHAR},
      SAADD1 = #{saadd1,jdbcType=NVARCHAR},
      SAADD2 = #{saadd2,jdbcType=NVARCHAR},
      SAADD3 = #{saadd3,jdbcType=NVARCHAR},
      SAADD4 = #{saadd4,jdbcType=NVARCHAR},
      SHMLNM = #{shmlnm,jdbcType=NVARCHAR},
      SHADD1 = #{shadd1,jdbcType=NVARCHAR},
      SHADD2 = #{shadd2,jdbcType=NVARCHAR},
      SHADD3 = #{shadd3,jdbcType=NVARCHAR},
      SHADD4 = #{shadd4,jdbcType=NVARCHAR},
      JDE_UpdateDate = #{jdeUpdatedate,jdbcType=TIMESTAMP}
    where SHKCOO = #{shkcoo,jdbcType=VARCHAR}
      and SHDOCO = #{shdoco,jdbcType=INTEGER}
      and SHDCTO = #{shdcto,jdbcType=VARCHAR}
  </update>
</mapper>