<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tup.mssql.mapper.OrderConfirmMapper" >
  <resultMap id="BaseResultMap" type="com.tup.mssql.model.OrderConfirm" >
    <id column="SDKCOO" property="sdkcoo" jdbcType="VARCHAR" />
    <id column="SDDOCO" property="sddoco" jdbcType="NUMERIC" />
    <id column="SDDCTO" property="sddcto" jdbcType="VARCHAR" />
    <id column="SDLNID" property="sdlnid" jdbcType="NUMERIC" />
    <id column="SDMCU" property="sdmcu" jdbcType="VARCHAR" />
    <result column="SDADDJ" property="sdaddj" jdbcType="TIMESTAMP" />
    <result column="SDSOQS" property="sdsoqs" jdbcType="NUMERIC" />
    <result column="SDCARS" property="sdcars" jdbcType="NUMERIC" />
    <result column="SDCNID" property="sdcnid" jdbcType="VARCHAR" />
    <result column="SDDELN" property="sddeln" jdbcType="NUMERIC" />
    <result column="SDLITM" property="sdlitm" jdbcType="VARCHAR" />
    <result column="SDLOCN" property="sdlocn" jdbcType="VARCHAR" />
    <result column="SDLOTN" property="sdlotn" jdbcType="VARCHAR" />
    <result column="JDE_Status" property="jdeStatus" jdbcType="VARCHAR" />
    <result column="JDE_InsertDate" property="jdeInsertdate" jdbcType="TIMESTAMP" />
    <result column="JDE_UpdateDate" property="jdeUpdatedate" jdbcType="TIMESTAMP" />
    <result column="JDE_ProccessLog" property="jdeProccesslog" jdbcType="VARCHAR" />
    <result column="KT_ProcessDate" property="ktProcessdate" jdbcType="TIMESTAMP" />
    <result column="SDLGNUM" property="sdlgnum" jdbcType="VARCHAR" />
    <result column="FMS_Process_Date" property="fmsProcessDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SDKCOO, SDDOCO, SDDCTO, SDLNID, SDMCU, SDADDJ, SDSOQS, SDCARS, SDCNID, SDDELN, SDLITM, 
    SDLOCN, SDLOTN, JDE_Status, JDE_InsertDate, JDE_UpdateDate, JDE_ProccessLog, KT_ProcessDate, 
    SDLGNUM, FMS_Process_Date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tup.mssql.model.OrderConfirmExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from OrderConfirm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tup.mssql.model.OrderConfirmKey" >
    select 
    <include refid="Base_Column_List" />
    from OrderConfirm
    where SDKCOO = #{sdkcoo,jdbcType=VARCHAR}
      and SDDOCO = #{sddoco,jdbcType=NUMERIC}
      and SDDCTO = #{sddcto,jdbcType=VARCHAR}
      and SDLNID = #{sdlnid,jdbcType=NUMERIC}
      and SDMCU = #{sdmcu,jdbcType=VARCHAR}
  </select>
  
  
   <select id="selectByMapParam" resultMap="BaseResultMap" parameterType="Map" >
    select  
    <include refid="Base_Column_List" />
    from OrderConfirm WHERE 1=1
       <if test="sdkcoo != null" >
         and SDKCOO = #{sdkcoo,jdbcType=VARCHAR}
      </if>
      <if test="sddoco != null" >
         and SDDOCO = #{sddoco,jdbcType=NUMERIC}
      </if>
      <if test="sddcto != null" >
         and SDDCTO = #{sddcto,jdbcType=VARCHAR}
      </if>
      <if test="sdlnid != null" >
         and SDLNID = #{sdlnid,jdbcType=NUMERIC}
      </if>
      <if test="sdmcu != null" >
         and SDMCU = #{sdmcu,jdbcType=VARCHAR}
      </if>
      <if test="sdaddj != null" >
         and SDADDJ = #{sdaddj,jdbcType=TIMESTAMP}
      </if>
      <if test="sdsoqs != null" >
         and SDSOQS = #{sdsoqs,jdbcType=NUMERIC}
      </if>
      <if test="sdcars != null" >
         and SDCARS = #{sdcars,jdbcType=NUMERIC}
      </if>
      <if test="sdcnid != null" >
         and SDCNID = #{sdcnid,jdbcType=VARCHAR}
      </if>
      <if test="sddeln != null" >
         and SDDELN = #{sddeln,jdbcType=NUMERIC}
      </if>
      <if test="sdlitm != null" >
         and SDLITM = #{sdlitm,jdbcType=VARCHAR}
      </if>
      <if test="sdlocn != null" >
         and SDLOCN = #{sdlocn,jdbcType=VARCHAR}
      </if>
      <if test="sdlotn != null" >
         and SDLOTN = #{sdlotn,jdbcType=VARCHAR}
      </if>
      <if test="jdeStatus != null" >
         and JDE_Status = #{jdeStatus,jdbcType=VARCHAR}
      </if>
      <if test="jdeInsertdate != null" >
         and JDE_InsertDate = #{jdeInsertdate,jdbcType=TIMESTAMP}
      </if>
      <if test="jdeUpdatedate != null" >
         and JDE_UpdateDate = #{jdeUpdatedate,jdbcType=TIMESTAMP}
      </if>
      <if test="jdeProccesslog != null" >
         and JDE_ProccessLog = #{jdeProccesslog,jdbcType=VARCHAR}
      </if>
      <if test="ktProcessdate != null" >
         and KT_ProcessDate = #{ktProcessdate,jdbcType=TIMESTAMP}
      </if>
      <if test="sdlgnum != null" >
         and SDLGNUM = #{sdlgnum,jdbcType=VARCHAR}
      </if>
      <if test="fmsProcessDate != null" >
         and FMS_Process_Date = #{fmsProcessDate,jdbcType=TIMESTAMP}
      </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="com.tup.mssql.model.OrderConfirmKey" >
    delete from OrderConfirm
    where SDKCOO = #{sdkcoo,jdbcType=VARCHAR}
      and SDDOCO = #{sddoco,jdbcType=NUMERIC}
      and SDDCTO = #{sddcto,jdbcType=VARCHAR}
      and SDLNID = #{sdlnid,jdbcType=NUMERIC}
      and SDMCU = #{sdmcu,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tup.mssql.model.OrderConfirmExample" >
    delete from OrderConfirm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tup.mssql.model.OrderConfirm" >
    insert into OrderConfirm (SDKCOO, SDDOCO, SDDCTO, 
      SDLNID, SDMCU, SDADDJ, 
      SDSOQS, SDCARS, SDCNID, 
      SDDELN, SDLITM, SDLOCN, 
      SDLOTN, JDE_Status, JDE_InsertDate, 
      JDE_UpdateDate, JDE_ProccessLog, KT_ProcessDate, 
      SDLGNUM, FMS_Process_Date)
    values (#{sdkcoo,jdbcType=VARCHAR}, #{sddoco,jdbcType=NUMERIC}, #{sddcto,jdbcType=VARCHAR}, 
      #{sdlnid,jdbcType=NUMERIC}, #{sdmcu,jdbcType=VARCHAR}, #{sdaddj,jdbcType=TIMESTAMP}, 
      #{sdsoqs,jdbcType=NUMERIC}, #{sdcars,jdbcType=NUMERIC}, #{sdcnid,jdbcType=VARCHAR}, 
      #{sddeln,jdbcType=NUMERIC}, #{sdlitm,jdbcType=VARCHAR}, #{sdlocn,jdbcType=VARCHAR}, 
      #{sdlotn,jdbcType=VARCHAR}, #{jdeStatus,jdbcType=VARCHAR}, #{jdeInsertdate,jdbcType=TIMESTAMP}, 
      #{jdeUpdatedate,jdbcType=TIMESTAMP}, #{jdeProccesslog,jdbcType=VARCHAR}, #{ktProcessdate,jdbcType=TIMESTAMP}, 
      #{sdlgnum,jdbcType=VARCHAR}, #{fmsProcessDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tup.mssql.model.OrderConfirm" >
    insert into OrderConfirm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sdkcoo != null" >
        SDKCOO,
      </if>
      <if test="sddoco != null" >
        SDDOCO,
      </if>
      <if test="sddcto != null" >
        SDDCTO,
      </if>
      <if test="sdlnid != null" >
        SDLNID,
      </if>
      <if test="sdmcu != null" >
        SDMCU,
      </if>
      <if test="sdaddj != null" >
        SDADDJ,
      </if>
      <if test="sdsoqs != null" >
        SDSOQS,
      </if>
      <if test="sdcars != null" >
        SDCARS,
      </if>
      <if test="sdcnid != null" >
        SDCNID,
      </if>
      <if test="sddeln != null" >
        SDDELN,
      </if>
      <if test="sdlitm != null" >
        SDLITM,
      </if>
      <if test="sdlocn != null" >
        SDLOCN,
      </if>
      <if test="sdlotn != null" >
        SDLOTN,
      </if>
      <if test="jdeStatus != null" >
        JDE_Status,
      </if>
      <if test="jdeInsertdate != null" >
        JDE_InsertDate,
      </if>
      <if test="jdeUpdatedate != null" >
        JDE_UpdateDate,
      </if>
      <if test="jdeProccesslog != null" >
        JDE_ProccessLog,
      </if>
      <if test="ktProcessdate != null" >
        KT_ProcessDate,
      </if>
      <if test="sdlgnum != null" >
        SDLGNUM,
      </if>
      <if test="fmsProcessDate != null" >
        FMS_Process_Date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sdkcoo != null" >
        #{sdkcoo,jdbcType=VARCHAR},
      </if>
      <if test="sddoco != null" >
        #{sddoco,jdbcType=NUMERIC},
      </if>
      <if test="sddcto != null" >
        #{sddcto,jdbcType=VARCHAR},
      </if>
      <if test="sdlnid != null" >
        #{sdlnid,jdbcType=NUMERIC},
      </if>
      <if test="sdmcu != null" >
        #{sdmcu,jdbcType=VARCHAR},
      </if>
      <if test="sdaddj != null" >
        #{sdaddj,jdbcType=TIMESTAMP},
      </if>
      <if test="sdsoqs != null" >
        #{sdsoqs,jdbcType=NUMERIC},
      </if>
      <if test="sdcars != null" >
        #{sdcars,jdbcType=NUMERIC},
      </if>
      <if test="sdcnid != null" >
        #{sdcnid,jdbcType=VARCHAR},
      </if>
      <if test="sddeln != null" >
        #{sddeln,jdbcType=NUMERIC},
      </if>
      <if test="sdlitm != null" >
        #{sdlitm,jdbcType=VARCHAR},
      </if>
      <if test="sdlocn != null" >
        #{sdlocn,jdbcType=VARCHAR},
      </if>
      <if test="sdlotn != null" >
        #{sdlotn,jdbcType=VARCHAR},
      </if>
      <if test="jdeStatus != null" >
        #{jdeStatus,jdbcType=VARCHAR},
      </if>
      <if test="jdeInsertdate != null" >
        #{jdeInsertdate,jdbcType=TIMESTAMP},
      </if>
      <if test="jdeUpdatedate != null" >
        #{jdeUpdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="jdeProccesslog != null" >
        #{jdeProccesslog,jdbcType=VARCHAR},
      </if>
      <if test="ktProcessdate != null" >
        #{ktProcessdate,jdbcType=TIMESTAMP},
      </if>
      <if test="sdlgnum != null" >
        #{sdlgnum,jdbcType=VARCHAR},
      </if>
      <if test="fmsProcessDate != null" >
        #{fmsProcessDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tup.mssql.model.OrderConfirmExample" resultType="java.lang.Integer" >
    select count(*) from OrderConfirm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update OrderConfirm
    <set >
      <if test="record.sdkcoo != null" >
        SDKCOO = #{record.sdkcoo,jdbcType=VARCHAR},
      </if>
      <if test="record.sddoco != null" >
        SDDOCO = #{record.sddoco,jdbcType=NUMERIC},
      </if>
      <if test="record.sddcto != null" >
        SDDCTO = #{record.sddcto,jdbcType=VARCHAR},
      </if>
      <if test="record.sdlnid != null" >
        SDLNID = #{record.sdlnid,jdbcType=NUMERIC},
      </if>
      <if test="record.sdmcu != null" >
        SDMCU = #{record.sdmcu,jdbcType=VARCHAR},
      </if>
      <if test="record.sdaddj != null" >
        SDADDJ = #{record.sdaddj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sdsoqs != null" >
        SDSOQS = #{record.sdsoqs,jdbcType=NUMERIC},
      </if>
      <if test="record.sdcars != null" >
        SDCARS = #{record.sdcars,jdbcType=NUMERIC},
      </if>
      <if test="record.sdcnid != null" >
        SDCNID = #{record.sdcnid,jdbcType=VARCHAR},
      </if>
      <if test="record.sddeln != null" >
        SDDELN = #{record.sddeln,jdbcType=NUMERIC},
      </if>
      <if test="record.sdlitm != null" >
        SDLITM = #{record.sdlitm,jdbcType=VARCHAR},
      </if>
      <if test="record.sdlocn != null" >
        SDLOCN = #{record.sdlocn,jdbcType=VARCHAR},
      </if>
      <if test="record.sdlotn != null" >
        SDLOTN = #{record.sdlotn,jdbcType=VARCHAR},
      </if>
      <if test="record.jdeStatus != null" >
        JDE_Status = #{record.jdeStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.jdeInsertdate != null" >
        JDE_InsertDate = #{record.jdeInsertdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jdeUpdatedate != null" >
        JDE_UpdateDate = #{record.jdeUpdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jdeProccesslog != null" >
        JDE_ProccessLog = #{record.jdeProccesslog,jdbcType=VARCHAR},
      </if>
      <if test="record.ktProcessdate != null" >
        KT_ProcessDate = #{record.ktProcessdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sdlgnum != null" >
        SDLGNUM = #{record.sdlgnum,jdbcType=VARCHAR},
      </if>
      <if test="record.fmsProcessDate != null" >
        FMS_Process_Date = #{record.fmsProcessDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update OrderConfirm
    set SDKCOO = #{record.sdkcoo,jdbcType=VARCHAR},
      SDDOCO = #{record.sddoco,jdbcType=NUMERIC},
      SDDCTO = #{record.sddcto,jdbcType=VARCHAR},
      SDLNID = #{record.sdlnid,jdbcType=NUMERIC},
      SDMCU = #{record.sdmcu,jdbcType=VARCHAR},
      SDADDJ = #{record.sdaddj,jdbcType=TIMESTAMP},
      SDSOQS = #{record.sdsoqs,jdbcType=NUMERIC},
      SDCARS = #{record.sdcars,jdbcType=NUMERIC},
      SDCNID = #{record.sdcnid,jdbcType=VARCHAR},
      SDDELN = #{record.sddeln,jdbcType=NUMERIC},
      SDLITM = #{record.sdlitm,jdbcType=VARCHAR},
      SDLOCN = #{record.sdlocn,jdbcType=VARCHAR},
      SDLOTN = #{record.sdlotn,jdbcType=VARCHAR},
      JDE_Status = #{record.jdeStatus,jdbcType=VARCHAR},
      JDE_InsertDate = #{record.jdeInsertdate,jdbcType=TIMESTAMP},
      JDE_UpdateDate = #{record.jdeUpdatedate,jdbcType=TIMESTAMP},
      JDE_ProccessLog = #{record.jdeProccesslog,jdbcType=VARCHAR},
      KT_ProcessDate = #{record.ktProcessdate,jdbcType=TIMESTAMP},
      SDLGNUM = #{record.sdlgnum,jdbcType=VARCHAR},
      FMS_Process_Date = #{record.fmsProcessDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tup.mssql.model.OrderConfirm" >
    update OrderConfirm
    <set >
      <if test="sdaddj != null" >
        SDADDJ = #{sdaddj,jdbcType=TIMESTAMP},
      </if>
      <if test="sdsoqs != null" >
        SDSOQS = #{sdsoqs,jdbcType=NUMERIC},
      </if>
      <if test="sdcars != null" >
        SDCARS = #{sdcars,jdbcType=NUMERIC},
      </if>
      <if test="sdcnid != null" >
        SDCNID = #{sdcnid,jdbcType=VARCHAR},
      </if>
      <if test="sddeln != null" >
        SDDELN = #{sddeln,jdbcType=NUMERIC},
      </if>
      <if test="sdlitm != null" >
        SDLITM = #{sdlitm,jdbcType=VARCHAR},
      </if>
      <if test="sdlocn != null" >
        SDLOCN = #{sdlocn,jdbcType=VARCHAR},
      </if>
      <if test="sdlotn != null" >
        SDLOTN = #{sdlotn,jdbcType=VARCHAR},
      </if>
      <if test="jdeStatus != null" >
        JDE_Status = #{jdeStatus,jdbcType=VARCHAR},
      </if>
      <if test="jdeInsertdate != null" >
        JDE_InsertDate = #{jdeInsertdate,jdbcType=TIMESTAMP},
      </if>
      <if test="jdeUpdatedate != null" >
        JDE_UpdateDate = #{jdeUpdatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="jdeProccesslog != null" >
        JDE_ProccessLog = #{jdeProccesslog,jdbcType=VARCHAR},
      </if>
      <if test="ktProcessdate != null" >
        KT_ProcessDate = #{ktProcessdate,jdbcType=TIMESTAMP},
      </if>
      <if test="sdlgnum != null" >
        SDLGNUM = #{sdlgnum,jdbcType=VARCHAR},
      </if>
      <if test="fmsProcessDate != null" >
        FMS_Process_Date = #{fmsProcessDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SDKCOO = #{sdkcoo,jdbcType=VARCHAR}
      and SDDOCO = #{sddoco,jdbcType=NUMERIC}
      and SDDCTO = #{sddcto,jdbcType=VARCHAR}
      and SDLNID = #{sdlnid,jdbcType=NUMERIC}
      and SDMCU = #{sdmcu,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tup.mssql.model.OrderConfirm" >
    update OrderConfirm
    set SDADDJ = #{sdaddj,jdbcType=TIMESTAMP},
      SDSOQS = #{sdsoqs,jdbcType=NUMERIC},
      SDCARS = #{sdcars,jdbcType=NUMERIC},
      SDCNID = #{sdcnid,jdbcType=VARCHAR},
      SDDELN = #{sddeln,jdbcType=NUMERIC},
      SDLITM = #{sdlitm,jdbcType=VARCHAR},
      SDLOCN = #{sdlocn,jdbcType=VARCHAR},
      SDLOTN = #{sdlotn,jdbcType=VARCHAR},
      JDE_Status = #{jdeStatus,jdbcType=VARCHAR},
      JDE_InsertDate = #{jdeInsertdate,jdbcType=TIMESTAMP},
      JDE_UpdateDate = #{jdeUpdatedate,jdbcType=TIMESTAMP},
      JDE_ProccessLog = #{jdeProccesslog,jdbcType=VARCHAR},
      KT_ProcessDate = #{ktProcessdate,jdbcType=TIMESTAMP},
      SDLGNUM = #{sdlgnum,jdbcType=VARCHAR},
      FMS_Process_Date = #{fmsProcessDate,jdbcType=TIMESTAMP}
    where SDKCOO = #{sdkcoo,jdbcType=VARCHAR}
      and SDDOCO = #{sddoco,jdbcType=NUMERIC}
      and SDDCTO = #{sddcto,jdbcType=VARCHAR}
      and SDLNID = #{sdlnid,jdbcType=NUMERIC}
      and SDMCU = #{sdmcu,jdbcType=VARCHAR}
  </update>
</mapper>